openapi: 3.0.2
servers:
  - description: Prod
    url: 'https://www.nextory.se/api/app/<module_name>/<API_version>'
  - description: Dev
    url: 'http://apptest.nextory.se:82/api/app/<module_name>/<API_version>'
info:
  description: |-
    The Nextory API is the only means of communication between the Nextory app and the backend that supports it.
    It is an internal API that is used by Nextory's app teams. This document defines all of the functionality of the Nextory API.
  version: '7.1'
  title: Nextory API
  contact:
    name: Daniel Armyr
    email: daniel.armyr@nextory.com
    url: www.nextory.se
  license:
    name: License TBC
    url: 'https://www.nextory.se'
  termsOfService: www.nextory.se
security:
  - app_id: []
paths:
  /accounts/list:
    get:
      summary: List family accounts
      operationId: NX-0231
      description: |-
        **Description:** Lists the available profiles for the current account.

        **Parameters:** Mandatory header parameters only.

        **Example Request URL:** [http://104.199.22.40:8080/nex-api/api/5.5/accounts/list?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=757d56f6-05e6-48e2-a697-b9dc44b0a34c](http://104.199.22.40:8080/nex-api/api/5.5/accounts/list?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=757d56f6-05e6-48e2-a697-b9dc44b0a34c)
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      maxcount:
                        type: number
                        example: 4
                        description: The maximum number of profiles that this account can have. API v5.5 and higher.
                      accounts:
                        type: array
                        uniqueItems: true
                        items:
                          required:
                            - profileid
                            - isparent
                            - profilename
                            - colorindex
                            - category
                            - createddate
                            - loginkey
                            - status
                            - imgstatus
                            - picurl
                            - bio
                            - surname
                            - longname
                          properties:
                            profileid:
                              type: number
                              example: 3
                              description: The account holder’s profile ID. API v5.5 and higher.
                            parentid:
                              type: number
                              example: 33515
                              description: The ID of the account (aka the paying customer) to which this profile belongs. API v5.5 and higher.
                            isparent:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if this profile is the account holder’s profile. “1” (true) = is the account holder’s profile, “0” (false) = is not the account holder’s profile. Note that this profile can never be deleted. API v5.5 and higher.'
                            profilename:
                              type: string
                              example: Mykola
                              description: The short form of the name of the user using this profile. Currently defined as their first name. API v5.5 and higher.
                            colorindex:
                              type: number
                              example: 0
                              description: The index used with "colors". Color index 0 – 9. API v5.5 and higher.
                              deprecated: true
                            category:
                              type: string
                              example: all
                              description: Indicates whether the profile belongs to a child or an adult. Values are “all” and “kids”. Childrens profiles only have access to books in the Childrens Books main category and do not have access to any features that interact with other users. API v5.5 and higher.
                              enum:
                                - all
                                - kids
                            createddate:
                              type: string
                              example: '2015-10-20 07:24:21 +0200'
                              description: The date the account was created. API v5.5 and higher.
                            loginkey:
                              type: string
                              example: 93FF3783DE00281F66288271CA397F8A
                              description: Login key for a family account. Required for login step 2 only. API v5.5 and higher.
                            status:
                              type: string
                              example: active
                              description: Indicates the status of the account. Values are “active” and “inactive”. API v5.5 and higher.
                              enum:
                                - active
                                - inactive
                            imgstatus:
                              type: string
                              example: PUBLIC
                              description: 'The status of the account holder’s profile image. Values are “PUBLIC” and “BLOCKED. “PUBLIC” = can be seen by anyone, “BLOCKED” = has been blocked by admin because it is inappropriate. API v5.5 and higher.'
                              enum:
                                - PUBLIC
                                - BLOCKED
                            picurl:
                              type: string
                              example: 'https://storage.googleapis.com/acpt-profiles/profile-image/0D88E2E537D91C9D4845C80A8D0F0F1A/1587107982782.JPG'
                              description: The URL of the image associated with the account profile. API v5.5 and higher.
                            bio:
                              type: string
                              example: 'Hi, My name is Jody. I like to read.'
                              description: A short bio of the account holder. API v5.5 and higher.
                            surname:
                              type: string
                              example: Winter
                              description: The surname of the account holder. API v5.5 and higher.
                            longname:
                              type: string
                              description: 'The full name of the user, including both first and last name. API v5.5 and higher.'
                      colors:
                        type: array
                        description: A pre-defined set of hexa color codes. Used to give each profile a distinct color.
                        items:
                          properties: {}
                        deprecated: true
                    required:
                      - maxcount
                      - accounts
                      - colors
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      maxcount: 4
                      accounts:
                        - profileid: 3
                          parentid: 33515
                          isparent: true
                          profilename: Mykola
                          colorindex: 0
                          category: all
                          createddate: '2015-10-20 07:24:21 +0200'
                          loginkey: 93FF3783DE00281F66288271CA397F8A
                          status: active
                          imgstatus: PUBLIC
                          picurl: 'https://storage.googleapis.com/acpt-profiles/profile-image/0D88E2E537D91C9D4845C80A8D0F0F1A/1587107982782.JPG'
                          bio: ajkajkjg
                          surname: jajakg
                          longname: longname
                      colors: []
    post:
      summary: 'Add, modify, remove account'
      operationId: NX-0232
      description: |-
        **Description:** Adds, updates or removes an account.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL (ADD):** [http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&profilename=Harry&colorindex=1&category=all&action=add](http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&profilename=Harry&colorindex=1&category=all&action=add)

        **Example Request URL (EDIT):** To update any profile parameters after an account is created, loginkey and the new profile info needs to be passed. For example, to change the category from all to kids, the URL shown here must be used.

        [http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&profilename=Harry&colorindex=2&category=kids&action=edit&loginkey=0DA7EF0D3C006D24D3E40AC4D0CBBCEF](http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&profilename=Harry&colorindex=2&category=kids&action=edit&loginkey=0DA7EF0D3C006D24D3E40AC4D0CBBCEF)

        **Example Request URL (DELETE):** To remove a profile, the only required parameters are action=DELETE, valid token, and loginkey.

        [http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&action=delete&loginkey=0DA7EF0D3C006D24D3E40AC4D0CBBCEF](http://104.199.22.40:8080/nex-api/api/5.5/account?appId=201&version=2.3.1&model=Simulator&osinfo=10.3.1&deviceid=5D31BFC7-4892-4E49-8421-EA061A1DD1EE&token=01bcbf58-4232-48c5-b48f-24bd679c9139&action=delete&loginkey=0DA7EF0D3C006D24D3E40AC4D0CBBCEF)
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: add
          in: query
          name: action
          description: 'The actions that can be passed with the query. The allowed actions are “add”, “edit”, “delete”. API v5.5 and higher.'
          required: true
        - schema:
            type: string
            example: 'Hi, my name is Jody. I like to read.'
          in: query
          name: bio
          description: The account holder’s bio. Applicable to the "edit" and "delete" actions only. API v5.5 and higher.
          required: false
        - schema:
            type: string
            example: kids
            enum:
              - all
              - kids
          in: query
          name: category
          description: Indicates whether the profile belongs to a child or an adult. Values are “all” and “kids” (case-sensitive). Childrens profiles only have access to books in the Childrens Books main category and do not have access to any features that interact with other users. API v5.5 and higher.
          required: false
        - schema:
            type: string
            example: '1'
          in: query
          name: colorindex
          description: The index used with "colors". Color index 0 - 9. API v5.5 and higher.
          required: false
          deprecated: true
        - schema:
            type: string
            example: 0DA7EF0D3C006D24D3E40AC4D0CBBCEF
          in: query
          name: loginkey
          description: Loginkey for a family account. Applicable to the "edit" and "delete" actions only. API v5.5 and higher.
          required: true
        - schema:
            type: string
            example: browse image
          in: query
          name: profileimage
          description: The image object to be uploaded against the account holder's profile. Applicable to the "edit" and "delete" actions only. API v5.5 and higher.
          required: true
        - schema:
            type: string
            example: Harry
          in: query
          name: profilename
          description: The unique profile name. API v5.5 and higher.
          required: true
        - schema:
            type: string
            example: Winter
          in: query
          name: surname
          description: The account holder's surname. Applicable to the "edit" and "delete" actions only. API v5.5 and higher.
          required: true
        - schema:
            type: string
            example: 01bcbf58-4232-48c5-b48f-24bd679c9139
          in: query
          name: token
          description: Valid login token (LT). API v5.5 and higher.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        example: Profilen skapades framgångsrikt
                        description: 'The profile was successfully created, modified or deleted. API v5.5 and higher.'
                required:
                  - data
              examples:
                Example (ADD):
                  value:
                    data:
                      message: Profilen skapades framgångsrikt
                Example (EDIT):
                  value:
                    data:
                      message: Profilen uppdaterades framgångsrikt
                Example (DELETE):
                  value:
                    data:
                      message: Profilen har tagits bort framgångsrikt
  /addEditViews:
    post:
      summary: Interact with others' reviews and comments
      operationId: NX-32
      description: |-
        **Description:** An API for the account holder to interact with a review or comment left by another user. The account holder can either like the review or report it as inappropriate.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://apptest.nextory.se:92//api/app/product/{api_version}/addEditViews?](https://apptest.nextory.se:92//api/app/product/{api_version}/addEditViews?)

        **Example Error Response:**
        ```
        {
        "error": {
        "code": 1000
        "msg": "Fel har uppstått kontakta kundtjänst",
        }
        }
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: 5e85d4cf7ab320606eb0d216
          in: query
          name: commentid
          description: The ID of the comment or review that the account holder is interacting with. All API versions.
          required: true
        - schema:
            type: string
            example: I don't agree with this review.
          in: query
          name: isinappcomments
          description: 'The comment left by the account holder when reporting as inappropriate a comment or review left by another user. Any random string data. Required only if an account holder uses the report functionality, otherwise optional. All API versions.'
          required: false
        - schema:
            type: string
            example: '1'
          in: query
          name: ishelpfull
          description: 'Values are "1" and “2”. “1” = the logged-in profile liked a comment left by another user. "2" = the logged-in profile unliked a comment left by another user that a different profile under their account had previously liked. Required only if an account holder uses the like/unlike functionality, otherwise optional. All API versions.'
          required: false
        - schema:
            type: string
            example: add
          in: query
          name: action
          description: The "add" action must be passed in all scenarios. All API versions.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      status: SUCCESS
  /addRatingsAndReview:
    post:
      summary: Add ratings and reviews to a book
      operationId: NX-33
      description: |-
        **Description:** Adds a rating and a review to a book.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://apptest.nextory.se:92//api/app/product/{api_version}/addRatingsAndReview?](https://apptest.nextory.se:92//api/app/product/{api_version}/addRatingsAndReview?)

        **Example Error Response:**
        ```
        {
        "error": {
        "code": 1000
        "msg": "Fel har uppstått kontakta kundtjänst",
        }
        }
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '1023456'
          in: query
          name: id
          description: The ID of the book that the account holder wants to review or add comments to. All API versions.
          required: true
        - schema:
            type: string
            example: '3'
          in: query
          name: rating
          description: The book rating given by the account holder. Can be any value between 1 and 5. Required only if a rating has been given to a book. All API versions.
          required: false
        - schema:
            type: string
            example: Great read!
          in: query
          name: reviews
          description: The review given to the book by the account holder. Any random string data. Required only if a review has been given to a book. All API versions.
          required: false
        - schema:
            type: string
            example: PUBLIC
          in: query
          name: access
          description: The value "PUBLIC" must be passed in all scenarios. All API versions.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      status: SUCCESS
  /autocomplete:
    get:
      summary: Search autocomplete
      operationId: NX-015
      description: |-
        **Description:** Gets a list of auto-complete results for a search string. This endpoint is similar to NX-043 but not the same. It is older, and is used by the web.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/5.6/autocomplete?appId=201&version=1.1&model=Simulator64&keyword=john](https://www.nextory.se/api/5.6/autocomplete?appId=201&version=1.1&model=Simulator64&keyword=john)

        **Other Information:** A keyword is expected to be a part of each string in the terms array, so the app can highlight the keyword in bold. The app will display the search terms in the order they appear in the array.
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: john
          in: query
          name: keyword
          description: 'A keyword is expected to be a part of each string in the terms array, so the app can highlight the keyword in bold. The app will display the search terms in the order they appear in the array.'
          required: true
        - schema:
            type: string
            example: 'sv, en'
          in: query
          name: languages
          description: 'Takes single or multiple language codes as values, separated by a comma. If this is not passed, the backend filters book groups based on languages allowed for the user market. Any other language values specified will be ignored. If the format of the values is invalid, error code 1000 will be returned. API v7.1 and higher.'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      terms:
                        type: array
                        items:
                          required:
                            - terms
                          properties: {}
                    required:
                      - terms
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      terms:
                        - term 1
                        - term 2
                        - term 3
                        - term 4
                        - term 5
                        - term 6
                        - term 7
                        - term 8
                        - term 9
                        - term 10
  /autocompleteresults:
    get:
      summary: Autocomplete results
      operationId: NX-043
      description: |-
        **Description:** Gets a list of autocomplete results for a provided search string. This endpoint is similar to NX-015 but not the same. It is newer, and is used by the app.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/app/catalogue/7.3/autocompleteresults?appId=201&version=1.1&model=Simulator64&query=john&language=sv,fi](https://www.nextory.se/api/app/catalogue/7.3/autocompleteresults?appId=201&version=1.1&model=Simulator64&query=john&language=sv,fi)
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/token'
        - schema:
            type: string
            example: Har
          in: query
          name: query
          description: Search term. All API versions.
          required: true
        - schema:
            type: string
            example: 'sv,fi'
          in: query
          name: language
          description: 'Takes single or multiple language codes as values, separated by a comma. If this is not passed, the backend filters bookgroups based on languages allowed for the user market. Any other language values specified will be ignored. If the format of the values is invalid, error code 1000 will be returned. API v7.1 and higher.'
          required: true
        - schema:
            type: string
            example: '1'
          in: query
          name: formattype
          description: 'The type of book. Values are “0”, “1” and “2”. "1" only e-books are returned. "2" only audio books are returned. If missing or "0" then both e-books and audio books are returned. API v7.1 and higher.'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      autocomplete:
                        type: array
                        uniqueItems: true
                        items:
                          required:
                            - text
                            - position
                          properties:
                            text:
                              type: string
                            position:
                              type: number
                      didyoumean:
                        type: array
                        items:
                          properties: {}
                      autocompletemag:
                        type: array
                        uniqueItems: true
                        items:
                          required:
                            - text
                            - position
                          properties:
                            text:
                              type: string
                            position:
                              type: number
                      didyoumeanmag:
                        type: array
                        items:
                          properties: {}
                    required:
                      - autocomplete
                      - didyoumean
                      - autocompletemag
                      - didyoumeanmag
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      autocomplete:
                        - text: historia
                          position: 0
                        - text: 'historia, política y guerra'
                          position: 1
                        - text: historia general
                          position: 2
                        - text: historias de amor de 9 a 12 años
                          position: 3
                        - text: historias de amor de 6 a 9 años
                          position: 4
                        - text: historia de mi vida
                          position: 5
                        - text: historia de la filosofía
                          position: 6
                        - text: historia universal freak 2
                          position: 7
                        - text: historias por la paz
                          position: 8
                        - text: historias de nueva york
                          position: 9
                        - text: historias de londres
                          position: 10
                        - text: historias de amor
                          position: 11
                        - text: historia militar
                          position: 12
                        - text: historia general de las indias
                          position: 13
                        - text: historia fácil para la eso
                          position: 14
                        - text: historia freak del fútbol
                          position: 15
                        - text: historia de tobías
                          position: 16
                        - text: historia de sor maría de la visitación
                          position: 17
                        - text: historia de la vida del buscón
                          position: 18
                        - text: 'historia de la propiedad: la expropiación. vii encuentro interdisciplinar, salamanca, 15-17 de septiembre de'
                          position: 19
                      didyoumean: []
                      autocompletemag:
                        - text: historia
                          position: 0
                        - text: historia y vida
                          position: 1
                        - text: historia national geographic
                          position: 2
                      didyoumeanmag: []
  /bookinfo:
    get:
      summary: Book information
      operationId: NX-005
      description: |-
        **Description:** Gets detailed information about a book for the book card screen.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/app/library/7.1/bookinfo?id=1033884](https://www.nextory.se/api/app/library/7.1/bookinfo?id=1033884)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/token'
        - schema:
            type: string
            example: asdfadsrvdgbvfavf
          in: query
          name: esalesticket
          description: Defines an e-sales ticket string needed for smart search implementations. Required in case account holders go to a book card screen and adds the book to my list. We consider this parameter only when "action" = “add”.
          deprecated: true
        - schema:
            type: string
            example: '1033884'
          in: query
          name: id
          description: The identifier for the book itself. API v6.0 and higher.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - books
                    properties:
                      books:
                        type: object
                        required:
                          - isbn
                          - isupcoming
                          - isrelatedbookupcoming
                          - id
                          - type
                          - title
                          - imageurl
                          - relatedavgratings
                          - relatedtotalrate
                          - relatedbookallowedinlibrary
                          - language
                          - publisher
                          - duration
                          - durationinsecs
                          - weburl
                          - availableinlib
                          - libId
                          - allowedinlibrary
                          - allowedforstring
                          - authors
                          - narrators
                          - translators
                          - coverratio
                          - userrate
                          - avgrate
                          - numberofrates
                          - filesize
                          - inCompletedList
                          - relatedInCompletedList
                          - libstatus
                          - teaserlink
                          - descriptionfull
                          - currentpercentage
                          - tags
                          - series
                          - numberinseries
                          - pubdate
                          - relatedbookid
                        properties:
                          isbn:
                            type: string
                            example: '9789178817597'
                            description: The book ISBN number. All API versions.
                          isupcoming:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if the book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                          isrelatedbookupcoming:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if the related book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                          id:
                            type: number
                            example: 10663339
                            description: The identifier for the book itself. All API versions.
                            deprecated: true
                          type:
                            type: number
                            example: 2
                            description: 'An enum value that defines the content type of a book. "1" = e-books only, "2" = audio books only. All API versions.'
                            enum:
                              - 0
                              - 1
                              - 2
                            deprecated: true
                          title:
                            type: string
                            example: 'Fatta grejen med 1: Fatta grejen med spindlar'
                            description: The book title. This value is also used to sort books locally by title. All API versions.
                            deprecated: true
                          imageurl:
                            type: string
                            example: 'http://35.229.248.90/coverimg/130/10663339_2.jpg'
                            description: Valid image URL. Applies only to the "Promotion" bookgroup type. The image does not need to support resizing on the server. API v6.3 and higher.
                          relatedavgratings:
                            type: string
                            example: '0.0'
                            description: The average user rating of the related book. A related book is the same book but in the other format (either e-book or audio book).
                          relatedtotalrate:
                            type: string
                            example: '0'
                            description: The total number of user ratings for the related book.
                          relatedbookallowedinlibrary:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if the related book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. Required in case of non-empty “relatedbookid”. All API versions.'
                          language:
                            type: string
                            example: sv
                            description: The language that the book is published in. All API versions.
                          publisher:
                            type: string
                            example: Bokförlaget Hegas
                            description: The name of the book's publisher. All API versions.
                          duration:
                            type: string
                            example: 10 min
                            description: The duration of the book in minutes. All API versions.
                          durationinsecs:
                            type: number
                            example: 4567431
                            description: The duration of the book in seconds. All API versions.
                          weburl:
                            type: string
                            example: 'https://www.nextory.fi/kirja/fatta-grejen-med-1-fatta-grejen-med-spindlar-10663339'
                            description: Bookdetails link for Nextory web. All API versions.
                          availableinlib:
                            type: number
                            example: 1
                            description: 'Values are "0", "1" and "2". "0" = the book is neither present in the active list nor in my list, "1" = the book is present in my list, "2" = the book is present in the active list. API v6.3 and higher.'
                          libId:
                            type: number
                            example: 123
                            description: 'The book identifier in the account holder’s library. Used in the activation process. Different from id and specific to each profile. When the book is not in my list or active, then we assume that libId is zero. All API versions.'
                          allowedinlibrary:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if the book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. The value should always = “1” for active books because an active book cannot be ‘not allowed’ in an account holder’s library. All API versions.'
                          allowedforstring:
                            type: string
                            example: 'Kulta, Perhe'
                            description: A user-facing description of the subscriptions that this book is included in.
                          authors:
                            type: array
                            description: The book author or authors. All API versions.
                            items: {}
                          narrators:
                            type: array
                            description: The book narrator or narrators. All API versions.
                            items:
                              type: object
                          translators:
                            type: array
                            description: The book translator or translators. All API versions.
                            items:
                              type: object
                          coverratio:
                            type: string
                            example: '1.0'
                            description: The ratio of book cover image width and height. Cover ratio = width/height. API v6.3 and higher.
                          userrate:
                            type: number
                            example: 4.5
                            description: 'The book rating given by the account holder. Values are "0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0". A value of 0.0 means that the account holder has not rated the book. API v5.6 and higher.'
                            enum:
                              - 0
                              - 0.5
                              - 1
                              - 1.5
                              - 2
                              - 2.5
                              - 3
                              - 3.5
                              - 4
                              - 4.5
                              - 5
                          avgrate:
                            type: number
                            example: 4.8018281535649
                            description: The average book rating given by account holders. API v5.6 and higher.
                          numberofrates:
                            type: integer
                            example: 10
                            description: The total number of account holder ratings given to the book. “0” = there are no ratings yet. API v6.3 and higher.
                          filesize:
                            type: number
                            example: 208694641
                            description: The book file size within the product collection. API v6.3 and higher.
                          inCompletedList:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if a book is in the completed list. “1” (true) = is in the completed list, “0” (false) = is not in the completed list. API v7.1 and higher.'
                          relatedInCompletedList:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if a related book is in the completed list. “1” (true) = is in the completed list, “0” (false) = is not in the completed list. API v7.1 and higher.'
                          libstatus:
                            type: string
                            example: NOTINLIB
                            description: 'Indicates the possible status of the book in the account holder’s library. Values are “NOTINLIB”, “ACTIVE”, “INACTIVE” and “COMPLETED”. API v7.1 and higher.'
                            enum:
                              - ACTIVE
                              - COMPLETED
                              - INACTIVE
                              - NOTINLIB
                          teaserlink:
                            type: string
                            example: 'https://nextory.se/teaser/9789178817597/v2/n_9789178817597.mp3'
                            description: The link to the audio preview (teaser).
                          descriptionfull:
                            type: string
                            example: Visste du att de flesta spindlar har åtta ögon? Eller att honspindeln kan vara upp till 100 gånger så stor som hanen? Visste du att det finns en spindel som lever i en bubbla i vattnet? Och att honorna äter upp hanarna efter parning? XX om spindlar är fylld av knäpp och läskig kunskap kring allt du inte visste att du ville veta om spindlar och deras liv! Hur mycket vågar du egentligen ta reda på om dessa små men läskiga kryp? \n\n Hegas böcker – lätta att läsa. Svåra att motstå.
                            description: A full and complete description of the book.
                          currentpercentage:
                            type: string
                            example: '0.75'
                            description: 'The current read position. A value between “0” and “1”. If missing, it means that a book is unread/not listened to (in other words, is equal to zero). All API versions.'
                          tags:
                            type: array
                            uniqueItems: true
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: '2160'
                                  description: The tag ID. API v7.1 and higher.
                                label:
                                  type: string
                                  example: Barnböcker
                                  description: The tag label. API v7.1 and higher.
                              required:
                                - id
                                - label
                          series:
                            type: string
                            example: Non Fiction
                            description: 'Series name. If the book is not part of a series, this attribute will not be present. If there is a single book in a related bookgroup, the related bookgroup should not appear in this (NX-005) response. Not relevant to API v7.0 and higher.'
                          numberinseries:
                            type: number
                            example: 2
                            description: 'If the book is a part of series, this parameter indicates the volume number of the book within the series. If the book is not part of a series, this attribute will not be present. The app displays “numberinseries” only if it is greater than “0” and the corresponding bookgroup’s “showvolume” attribute = “1” (true).'
                          pubdate:
                            type: string
                            example: '2020-05-11 00:00:00 +0200'
                            description: The book publication date. The date format might be different but must be consistent across the entire API. Used to sort books locally by date. All API versions.
                          relatedbookid:
                            type: number
                            example: 10663231
                            description: 'Indicates if the e-book has a related audiobook or vice versa. Contains an identifier for the related book. If missing, then the book does not have a related book. All API versions.'
                          referralcampurl:
                            type: string
                            example: 'https://www.nextory.se/kampanj/recommend?utm_medium=MtqI/VZ0SeiJ/trwTaZ7Tg==&utm_campaign=recommend&utm_content=10663339'
                            description: Referral campaign URL. Optional from API v7.1.
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      books:
                        isbn: '9789178817597'
                        isupcoming: true
                        isrelatedbookupcoming: false
                        id: 10663339
                        type: 2
                        title: 'Fatta grejen med 1: Fatta grejen med spindlar'
                        imageurl: 'http://35.229.248.90/coverimg/130/10663339_2.jpg'
                        relatedavgratings: '0.0'
                        relatedtotalrate: '0'
                        relatedbookallowedinlibrary: true
                        language: sv
                        publisher: Bokförlaget Hegas
                        duration: 10 min
                        durationinsecs: 4567431
                        weburl: 'https://www.nextory.fi/kirja/fatta-grejen-med-1-fatta-grejen-med-spindlar-10663339'
                        availableinlib: 1
                        libId: 123
                        allowedinlibrary: true
                        allowedforstring: 'Kulta, Perhe'
                        authors:
                          - name:
                              - Alain M. Bergeron
                              - Samuel Parent
                              - Michel Quintin
                              - Sampar
                        narrators:
                          - name: Lukas Larsson
                        translators:
                          - {}
                        coverratio: '1.0'
                        userrate: 5
                        avgrate: 4.8018281535649
                        numberofrates: 10
                        filesize: 208694641
                        inCompletedList: true
                        relatedInCompletedList: false
                        libstatus: NOTINLIB
                        teaserlink: 'https://nextory.se/teaser/9789178817597/v2/n_9789178817597.mp3'
                        descriptionfull: |-
                          Visste du att de flesta spindlar har åtta ögon? Eller att honspindeln kan vara upp till 100 gånger så stor som hanen? Visste du att det finns en spindel som lever i en bubbla i vattnet? Och att honorna äter upp hanarna efter parning? XX om spindlar är fylld av knäpp och läskig kunskap kring allt du inte visste att du ville veta om spindlar och deras liv! Hur mycket vågar du egentligen ta reda på om dessa små men läskiga kryp? 
                          Hegas böcker – lätta att läsa. Svåra att motstå.
                        currentpercentage: '0.75'
                        tags:
                          - id: '2160'
                            label: Barnböcker
                        series: Non Fiction
                        numberinseries: 2
                        pubdate: '2020-05-11 00:00:00 +0200'
                        relatedbookid: 10663231
                        referralcampurl: 'https://www.nextory.se/kampanj/recommend?utm_medium=MtqI/VZ0SeiJ/trwTaZ7Tg==&utm_campaign=recommend&utm_content=10663339'
  /booksforbookgroup:
    get:
      summary: Fetch books in a bookgroup
      operationId: NX-0041
      description: |-
        **Description:** For any given bookgroup, returns the books in that bookgroup.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL (without Facets):** [https://www.nextory.se/api/app/catalogue/6.5/booksforbookgroup?appId=201&version=1.1&model=Simulator64&bookgroupid=r_12543_series](https://www.nextory.se/api/app/catalogue/6.5/booksforbookgroup?appId=201&version=1.1&model=Simulator64&bookgroupid=r_12543_series)

        ** Example Request URL (with Facets):** [https://www.nextory.se/api/app/catalogue/6.5/booksforbookgroup?appId=201&version=1.1&model=Simulator64&bookgroupid=ttc_413&language_facet=en&formattype_facet=1&query=Test&categoryids_facet=1235](https://www.nextory.se/api/app/catalogue/6.5/booksforbookgroup?appId=201&version=1.1&model=Simulator64&bookgroupid=ttc_413&language_facet=en&formattype_facet=1&query=Test&categoryids_facet=1235)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: r_12543_series
          in: query
          name: bookgroupid
          description: The bookgroup identifier. API v6.0 and higher.
          required: true
        - schema:
            type: string
            example: '1'
            enum:
              - '0'
              - '1'
              - '2'
          in: query
          name: type
          description: 'The type of book. Values are “0”, “1” and “2”. "1" = only e-books are returned. "2" = only audio books are returned. If missing or "0" then both e-books and audio books are returned. All API versions.'
          required: false
        - schema:
            type: string
            example: title
            enum:
              - popularity
              - pubdate
              - title
            default: popularity
          in: query
          name: sort
          description: 'How search results will be sorted. Values are “popularity”, “title” and “pubDate”. If missing or an incorrect value is passed, the default is “pubDate”. “popularity” = descending order (the most popular book comes first), “title” = ascending order (A-Z), “pubDate” = descending order (the most recently published book comes first).'
          required: false
        - schema:
            type: string
            example: '20'
            default: '12'
          in: query
          name: rows
          description: 'The limit of books in the response or the number of books displayed on a single page. If missing, then the default value (12) is used. There may be situations where a page contains fewer books than requested. But this does not mean that the next page will contain zero books. The app therefore needs to continue asking for more books until it gets an empty array of books in response. API v6.0 and higher.'
          required: false
        - schema:
            type: string
            default: '0'
            example: '1'
          in: query
          name: pagenumber
          description: Page number for lazy load (pagination). Default value = “0”. All API versions.
          required: false
        - schema:
            type: string
            example: 'sv,en'
          in: query
          name: languages
          description: 'Takes single or multiple language codes as values, separated by a comma. If this is not passed, the backend filters bookgroups based on languages allowed for the user market. Any other language values specified will be ignored. If the format of the values is invalid, error code 1000 will be returned. API v7.1 and higher.'
          required: false
        - schema:
            type: string
            example: '1581315222'
          in: query
          name: pagetoken
          description: Introduced as part of the ticket to handle 'Add to library directly from list'. The value for this token is obtained from the backend in the response to the /booksforbookgroup endpoint (“pagenumber” = “0”). The value obtained has to be carried over for the subsequent paginated calls so that any books added to the library after this timestamp will not be excluded from the API response. All API versions.
          required: false
        - schema:
            type: string
            example: Stieg Trenter (URL escaped)
          in: query
          name: authors_facet
          description: 'Optional parameter for facet filters. The app should not keep this hardcoded, however it should hard-code the list of supported facets (see NX-0141). Multiple values are comma-separated. API v6.5 and higher.'
          required: false
        - schema:
            type: string
          in: query
          name: formattype_facet
          description: 'Optional parameter for facet filters. The app should not keep this hardcoded, however it should hard-code the list of supported facets (see NX-0141). Multiple values are comma-separated. API v6.5 and higher.'
          required: false
        - schema:
            type: string
          in: query
          name: language_facet
          description: 'Optional parameter for facet filters. The app should not keep this hardcoded, however it should hard-code the list of supported facets (see NX-0141). Multiple values are comma-separated. API v6.5 and higher.'
        - schema:
            type: string
          in: query
          name: categoryids_facet
          description: 'Optional parameter for facet filters. The app should not keep this hardcoded, however it should hard-code the list of supported facets (see NX-0141). Multiple values are comma-separated. API v6.5 and higher.'
          required: false
        - schema:
            type: string
          in: query
          name: seriesAsit_facet
          description: 'Optional parameter for facet filters. The app should not keep this hardcoded, however it should hard-code the list of supported facets (see NX-0141). Multiple values are comma-separated. API v6.5 and higher.'
          required: false
      responses:
        '200':
          $ref: '#/components/responses/NX0041'
  /clickanalytics/<api_version>/appclick:
    post:
      summary: App click tracking
      operationId: NX-029
      description: |-
        **Description:** Reports that the account holder clicked on a book or a list. Used to track where people find their books and the conversion rates of the lists in our app.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/app/clickanalytics/<api_version>/appclick](https://www.nextory.se/api/app/clickanalytics/<api_version>/appclick)
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: booktips-tttl_TopB-3+12334-21-v
          in: query
          name: analyticstoken
          description: Analytics token generated by the app. This field will be present in the response if the book is added directly to the list through the heart icon. API v6.5 and higher.
          required: true
        - schema:
            type: string
            example: dfsdfa234jhlsd87dsf
          in: query
          name: traceid
          description: A unique string ID generated by the app when the account holder navigates to a book card screen. See also NX-009. API v6.5 and higher.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      analyticstoken:
                        type: string
                        example: booktips-tttl_TopB-3+12334-21-v
                        description: Analytics token generated by the app. This field will be present in the response if the book is added directly to the list through the heart icon.
                      traceid:
                        type: string
                        example: dfsdfa234jhlsd87dsf
                        description: A unique string ID generated by the app when the account holder navigates to a book card screen. See also NX-009. API v6.5 and higher.
                    required:
                      - analyticstoken
                      - traceid
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      analyticstoken: booktips-tttl_TopB-3+12334-21-v
                      traceid: dfsdfa234jhlsd87dsf
  /completed:
    get:
      summary: Get completed books
      operationId: NX-039
      description: |-
        **Description:** Gets a list of books that the account holder has marked as completed.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://nextory.se/api/app/library/7.2/completed](https://nextory.se/api/app/library/7.2/completed)      
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: title
          in: query
          name: sort
          description: 'How search results will be sorted. Values are “datemodified”, “title” and “pubdate”. If missing or an incorrect value is passed, the default is “datemodified”.'
          required: false
        - schema:
            type: string
            example: '20'
          in: query
          name: rows
          description: 'The limit of books in the response or the number of books displayed on a single page. If missing, then the default value (12) is used. There may be situations where a page contains fewer books than requested. But this does not mean that the next page will contain zero books. The app therefore needs to continue asking for more books until it gets an empty array of books in response. API v6.0 and higher.'
          required: false
        - schema:
            type: string
            example: '2'
          in: query
          name: pagenumber
          description: Page number for lazy load (pagination). Default value = “0”. All API versions.
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      bookcount:
                        type: number
                      books:
                        type: array
                        uniqueItems: true
                        items:
                          required:
                            - isbn
                            - isupcoming
                            - isrelatedbookupcoming
                            - id
                            - type
                            - title
                            - imageurl
                            - relatedbookallowedinlibrary
                            - weburl
                            - productstatus
                            - libid
                            - allowedinlibrary
                            - coverratio
                            - userrate
                            - avgrate
                            - numberofrates
                            - allowbookactivation
                            - visibility
                            - completedon
                            - descriptionbrief
                            - datemodified
                            - pubdate
                            - relatedbookid
                          properties:
                            isbn:
                              type: string
                              example: '9789113101996'
                              description: The book ISBN number. All API versions.
                            isupcoming:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if the book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                            isrelatedbookupcoming:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if the related book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                            id:
                              type: number
                              example: 10059563
                              description: The identifier for the book itself. All API versions.
                            type:
                              type: number
                              example: 2
                              description: 'An enum value that defines the content type of a book. "1" = e-books only, "2" = audio books only. All API versions.'
                              enum:
                                - 1
                                - 2
                            title:
                              type: string
                              example: En helt vanlig familj
                              description: The book title. This value is also used to sort books locally by title. All API versions.
                            imageurl:
                              type: string
                              example: 'https://www.nextory.se/coverimg/130/10059563_290.jpg'
                              description: The book cover image URL. All API versions.
                            relatedbookallowedinlibrary:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if the related book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. Required in case of non-empty “relatedbookid”. All API versions.'
                            weburl:
                              type: string
                              example: 'https://www.nextory.se/bok/en-helt-vanlig-familj-10059563'
                              description: Bookdetails link for Nextory web. All API versions.
                            productstatus:
                              type: string
                              example: ACTIVE
                              description: 'The findability of the book. Values are “ACTIVE”, “INACTIVE” and “DELETED”. “ACTIVE” = any account holder can find and read the book. “INACTIVE” = account holders who already have the book in their library can read it, but other users cannot find it nor add it to their library. “DELETED” = the book media file has been deleted so nobody can read it. Anyone who has it in their completed list will still see it there but they cannot reactivate it.'
                            libid:
                              type: string
                              example: '21695328'
                              description: 'The book identifier in the account holder’s library. Used in the activation process. Different from “id” and specific to each profile. When the book is not in my list or active, then we assume that “libId” is zero. All API versions.'
                            allowedinlibrary:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if the book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. The value should always = “1” for active books because an active book cannot be ‘not allowed’ in an account holder’s library. All API versions.'
                            authors:
                              type: array
                              description: The book author or authors. All API versions.
                              items: {}
                            coverratio:
                              type: number
                              example: 1
                              description: The ratio of book cover image width and height. Cover ratio = width/height. API v6.3 and higher.
                            userrate:
                              type: number
                              example: 0
                              description: 'The book rating given by the account holder. Values are “0.0”, “0.5”, “1.0”, “1.5”, “2.0”, “2.5”, “3.0”, “3.5”, “4.0”, “4.5”, “5.0”. A value of “0.0” means that the account holder has not rated the book. API v5.6 and higher.'
                              enum:
                                - 0
                                - 0.5
                                - 1
                                - 1.5
                                - 2
                                - 2.5
                                - 3
                                - 3.5
                                - 4
                                - 4.5
                                - 5
                            avgrate:
                              type: number
                              example: 4.8018281535649
                              description: The average book rating given by account holders. API v6.3 and higher.
                            numberofrates:
                              type: number
                              example: 4717
                              description: The total number of account holder ratings given to the book. “0” = there are no ratings yet. API v5.6 and higher.
                            numberinseries:
                              type: number
                              example: 0
                              description: 'If the book is a part of series, this parameter indicates the volume number of the book within the series. If the book is not part of a series, this attribute will not be present. The app displays “numberinseries” only if it is greater than “0” and the corresponding bookgroup’s “showvolume” attribute = “1” (true).'
                            allowbookactivation:
                              type: boolean
                              example: true
                              description: 'A boolean value (“1” or “0”) that indicates if the account holder is allowed to activate (start reading) this book. “1” (true) = can activate, “0” (false) = cannot activate.'
                            synchsettings:
                              type: object
                              properties:
                                completed:
                                  type: number
                                  example: 1
                                  description: 'The read status of the book. Values are “0” and “1”. "0" = the book has not been completed (is in progress), "1" = the book has been completed. It is not necessary for “currentpercentage” to = “1” since the account holder can just indicate that a book is completed. All API versions.'
                                currentpercentage:
                                  type: string
                                  example: '2.048968E-4'
                                  description: 'The current read position. A value between “0” and “1”. If missing, it means that a book is unread/not listened to (in other words, is equal to zero). All API versions.'
                                syncdate:
                                  type: string
                                  example: '02-15-2016 13:42:25 +0100'
                                  description: The timestamp when the app last sent the account holder settings to the backend.
                              required:
                                - completed
                                - currentpercentage
                                - syncdate
                            visibility:
                              type: string
                              example: public
                              description: 'This data field is not yet used. When it is, it will allow account holders to share parts of their completed lists with others. Allowed values will be “private” and “public”.'
                              enum:
                                - private
                                - public
                            completedon:
                              type: string
                              example: '2020-06-22 14:05:51 +0200'
                              description: The date when the account holder completed the book.
                            descriptionbrief:
                              type: string
                              example: 'Hur långt skulle du gå för att skydda din familj? Och hur väl känner du egentligen dina barn? De är en helt vanlig familj. Prästen Adam, juristen Ulrika och deras 19-åriga dotter Stella. De bor i e'
                              description: A brief description of the book. Might be a truncated book description from a book card screen. All API versions.
                            datemodified:
                              type: string
                              example: '2020-06-22 14:05:51 +0200'
                              description: The date when a book was last added to my list or inactivation (another way to add a book to my list). Used for sorting purposes. The book with the most recent modification date goes first. All API versions.
                            pubdate:
                              type: string
                              example: '2018-06-20 00:00:00 +0200'
                              description: The book publication date. The date format might be different but must be consistent across the entire API. Used to sort books locally by date. All API versions.
                            relatedbookid:
                              type: number
                              example: 10057229
                              description: 'Indicates if the e-book has a related audiobook or vice versa. Contains an identifier for the related book. If missing, then the book does not have a related book. All API versions.'
                            userreviews:
                              type: string
                              example: This book is really awesome.
                              description: A string containing the review the user has given the book.
                    required:
                      - bookcount
                      - books
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      bookcount: 12
                      books:
                        - isbn: '9789178270002'
                          isupcoming: false
                          isrelatedbookupcoming: false
                          id: 10059563
                          type: 2
                          title: En helt vanlig familj
                          imageurl: 'https://www.nextory.se/coverimg/130/10059563_290.jpg'
                          relatedbookallowedinlibrary: true
                          weburl: 'https://www.nextory.se/bok/en-helt-vanlig-familj-10059563'
                          productstatus: ACTIVE
                          libid: '21695328'
                          allowedinlibrary: true
                          authors:
                            - Mattias Edvardsson
                          coverratio: 1
                          userrate: 0
                          avgrate: 4.8018281535649
                          numberofrates: 4717
                          numberinseries: 0
                          allowbookactivation: true
                          synchsettings:
                            completed: 1
                            currentpercentage: '2.048968E-4'
                            syncdate: ''
                          visibility: public
                          completedon: '2020-06-22 14:05:51 +0200'
                          descriptionbrief: 'Hur långt skulle du gå för att skydda din familj? Och hur väl känner du egentligen dina barn? De är en helt vanlig familj. Prästen Adam, juristen Ulrika och deras 19-åriga dotter Stella. De bor i e'
                          datemodified: '2020-06-22 14:05:51 +0200'
                          pubdate: '2018-06-20 00:00:00 +0200'
                          relatedbookid: 10057229
                          userreviews: This book is really awesome.
  /completed/add:
    post:
      summary: Add a book to the completed list
      operationId: NX-040
      description: |-
        **Description:** Adds a book to the completed list.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://nextory.se/api/app/library/7.2/completed/add](https://nextory.se/api/app/library/7.2/completed/add)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '23456'
          in: query
          name: bookid
          description: The book identifier.
          required: true
        - schema:
            type: string
            example: public/private
          in: query
          name: visibility
          description: The visibility status of the account holder's completed lists. Not yet available. Allowed values will be “private” and “public”. "private" = do not share part of the completed list with others. "public" = share part of the completed list with others.
          required: true
        - schema:
            type: string
            example: '2020-08-04 13:53:39 +0200'
          in: query
          name: completeddate
          description: The date when the book was completed.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              examples:
                Example:
                  value:
                    data: {}
  /completed/delete:
    post:
      summary: Delete a book from the completed list
      operationId: NX-041
      description: |-
        **Description:** Deletes a book from the completed list.

        **Parameters:** Mandatory header parameters plus one query parameter.

        **Example Request URL:** [https://nextory.se/api/app/library/7.2/completed/delete](https://nextory.se/api/app/library/7.2/completed/delete)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '23456'
          in: query
          name: bookid
          description: The book identifier.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              examples:
                Example:
                  value:
                    data: {}
  /deletecomment:
    get:
      summary: Delete a book review
      operationId: NX-35
      description: |-
        **Description:** Deletes a review written by the account holder.

        **Parameters:** Mandatory header parameters plus one query parameter.

        **Example Request URL:** [https://apptest.nextory.se:92//api/app/product/{api_version}/deletecomment?commentid=5e85d4cf7ab320606eb0d216](https://apptest.nextory.se:92//api/app/product/{api_version}/deletecomment?commentid=5e85d4cf7ab320606eb0d216)

        **Example Error Response:**
        ```
        {
        "error": {
        "code": 1000
        "msg": "Fel har uppstått kontakta kundtjänst",
        }
        }
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: 5e85d4cf7ab320606eb0d216
          in: query
          name: commentid
          description: 'The commentid for which the review and all its corresponding reports, likes and un-likes will be deleted (but not the rating). All API versions.'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      status: SUCCESS
  /directbookactivation:
    post:
      summary: Direct book activation
      operationId: NX-037
      description: |-
        **Description:** Adds a book to the ongoing list.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/app/library/7.1/directbookactivation](https://www.nextory.se/api/app/library/7.1/directbookactivation)

        **Example Error Response:**
        ```
        {
        "error": {
        "code": 6004
        "msg": "Direct book activation has failed",
        }
        }
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '94213'
          in: query
          name: inactivatebookid
          description: The bookid whose associated libid has to be inactivated.
          required: false
        - schema:
            type: string
            example: '31312312'
          in: query
          name: bookid
          description: The book identifier.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      books:
                        type: object
                        properties:
                          isbn:
                            type: string
                            example: '9789510462249'
                            description: The book ISBN number. All API versions.
                          isupcoming:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if the book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                          isrelatedbookupcoming:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if the related book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                          id:
                            type: number
                            example: 10670593
                            description: The identifier for the book itself. All API versions.
                          type:
                            type: number
                            example: 2
                            description: 'An enum value that defines the content type of a book. "1" = e-books only, "2" = audio books only. All API versions.'
                            enum:
                              - 1
                              - 2
                          title:
                            type: string
                            example: Mikael Gabriel - Alasti
                            description: The book title. This value is also used to sort books locally by title. All API versions.
                          imageurl:
                            type: string
                            example: 'https://www.nextory.se/coverimg/130/10670593_3.jpg'
                            description: The book cover image URL. All API versions.
                          relatedbookallowedinlibrary:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if the related book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. Required in case of non-empty “relatedbookid”. All API versions.'
                          weburl:
                            type: string
                            example: 'https://www.nextory.se/bok/mikael-gabriel-alasti-10670593'
                            description: Bookdetails link for Nextory web. All API versions.
                          productstatus:
                            type: string
                            example: ACTIVE
                            description: 'The findability of the book. Values are “ACTIVE”, “INACTIVE” and “DELETED”. “ACTIVE” = any account holder can find and read the book. “INACTIVE” = account holders who already have the book in their library can read it, but other users cannot find it nor add it to their library. “DELETED” = the book media file has been deleted so nobody can read it. Anyone who has it in their completed list will still see it there but they cannot reactivate it.'
                            enum:
                              - ACTIVE
                              - DELETED
                              - INACTIVE
                          libid:
                            type: string
                            example: '21305950'
                            description: 'The book identifier in the account holder’s library. Used in the activation process. Different from “id” and specific to each profile. When the book is not in my list or active, then we assume that “libId” is zero. All API versions.'
                          allowedinlibrary:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if the book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. The value should always = “1” for active books because an active book cannot be ‘not allowed’ in an account holder’s library. All API versions.'
                          authors:
                            type: array
                            description: The book author or authors. All API versions.
                            items: {}
                          coverratio:
                            type: number
                            example: 1
                            description: The ratio of book cover image width and height. Cover ratio = width/height. API v6.3 and higher.
                          userrate:
                            type: number
                            example: 0
                            description: 'The book rating given by the account holder. Values are “0.0”, “0.5”, “1.0”, “1.5”, “2.0”, “2.5”, “3.0”, “3.5”, “4.0”, “4.5”, “5.0”. A value of “0.0” means that the account holder has not rated the book. API v5.6 and higher.'
                            enum:
                              - 0
                              - 0.5
                              - 1
                              - 1.5
                              - 2
                              - 2.5
                              - 3
                              - 3.5
                              - 4
                              - 4.5
                              - 5
                          avgrate:
                            type: number
                            example: 4.8018281535649
                            description: The average book rating given by account holders. API v6.3 and higher.
                          numberofrates:
                            type: number
                            example: 0
                            description: The total number of account holder ratings given to the book. “0” = there are no ratings yet. API v5.6 and higher.
                          synchsettings:
                            type: object
                            properties:
                              completed:
                                type: number
                                example: 0
                                description: 'The read status of the book. Values are “0” and “1”. "0" = the book has not been completed (is in progress), "1" = the book has been completed. It is not necessary for “currentpercentage” to = “1” since the account holder can just indicate that a book is completed. All API versions.'
                                enum:
                                  - 0
                                  - 1
                              currentpercentage:
                                type: string
                                example: '0.0'
                                description: 'The current read position. A value between “0” and “1”. If missing, it means that a book is unread/not listened to (in other words, is equal to zero). All API versions.'
                              syncdate:
                                type: string
                                example: '2020-06-01 14:57:14 +0200'
                                description: The timestamp when the app last sent the account holder settings to the backend.
                            required:
                              - completed
                              - currentpercentage
                              - syncdate
                          file:
                            type: object
                            properties:
                              url:
                                type: string
                                example: 'https://neapi.nextory.se/nest/api/ver2/product/download?data=eyJsaWJpZCI6IjIxMzA1OTUwIiwiZm9ybWF0aWQiOiIzMDMiLCJwcm9kdWN0aWQiOiIxMDY3MDU5MyIsIm9yZGVyaWQiOiIxNzA4MzI1OCIsImFwcGlkIjoiMTUwODI0IiwiY2hlY2tzdW0iOiI2NzM1ZDRiMWJjNzU0OTE0NGExNmI5N2NhZGRkZWY4NyJ9'
                                description: The URL to download the audio book MP3 file. All API versions.
                              formatid:
                                type: number
                                example: 303
                                description: 'The format of the audio book MP3 resource file. Values are “303” and “304”. “303” = mp3, “304” = hls. All API versions.'
                                enum:
                                  - 303
                                  - 304
                              duration:
                                type: string
                                example: '35819'
                                description: The MP3 audio book duration in seconds. Required for audio books only. All API versions.
                              sizeinbytes:
                                type: number
                                example: 286035217
                                description: The size of the MP3 file in bytes. All API versions.
                              checksum:
                                type: string
                                example: J5F1H+mw6cMaRNlkHMC1Kg==
                                description: The MP3 audio book file checksum. All API versions.
                            required:
                              - url
                              - formatid
                              - duration
                              - sizeinbytes
                              - checksum
                          popularity:
                            type: number
                            example: 0
                            description: Hard-coded to send 0.
                          libstatus:
                            type: string
                            example: ACTIVE
                            description: 'Indicates the possible status of the book in the account holder’s library. Values are “NOTINLIB”, “ACTIVE”, “INACTIVE” and “COMPLETED”. API v7.1 and higher.'
                            enum:
                              - ACTIVE
                              - COMPLETED
                              - INACTIVE
                              - NOTINLIB
                          descriptionbrief:
                            type: string
                            example: 'Mikael Gabrielin elämäkerran laajennettu laitos kertoo huippusuositun ja ristiriitaisen artistin koko tarinan - vaikean nuoruuden, tien kuulijoiden sydämiin ja oman elämän merkityksen etsimise.'
                            description: A brief description of the book. Might be a truncated book description from a book card screen. All API versions.
                          streamingfile:
                            type: object
                            description: 'A new optional attribute, “streamingfile” has a format that supports audio streaming file formats. The existing field “file” will be available if MP3 exists. This field format is available only for audio books. In case of audio, “formatid” = “304” (hls). API v7.0 and higher.'
                            properties:
                              url:
                                type: string
                                example: 'https://neapi.nextory.se/nest/api/ver2/product/download?data=eyJsaWJpZCI6IjIxMzA1OTUwIiwiZm9ybWF0aWQiOiIzMDMiLCJwcm9kdWN0aWQiOiIxMDY3MDU5MyIsIm9yZGVyaWQiOiIxNzA4MzI1OCIsImFwcGlkIjoiMTUwODI0IiwiY2hlY2tzdW0iOiI2NzM1ZDRiMWJjNzU0OTE0NGExNmI5N2NhZGRkZWY4NyJ9&hls=1'
                                description: The URL of the streamed audio book. API v7.0 and higher.
                              formatid:
                                type: number
                                example: 304
                                description: 'The format of the streamed audio book MP3 resource file. Values are “303” and “304”. “303” = mp3, “304” = hls. API version 7.0 and higher.'
                                enum:
                                  - 303
                                  - 304
                              duration:
                                type: string
                                example: '35819'
                                description: The streamed audio book duration in seconds. Required for audio books only. API 7.0 and higher.
                              sizeinbytes:
                                type: number
                                example: 286035217
                                description: The size of the streamed audio book file in bytes. API v7.0 and higher.
                              checksum:
[...]
