openapi: 3.0.2
servers:
  - description: Prod
    url: 'https://www.nextory.se/api/app/<module_name>/<API_version>'
  - description: Dev
    url: 'http://apptest.nextory.se:82/api/app/<module_name>/<API_version>'
info:
  description: |-
    The Nextory API is the only means of communication between the Nextory app and the backend that supports it.
    It is an internal API that is used by Nextory's app teams. This document defines all of the functionality of the Nextory API.
  version: '7.1'
  title: Nextory API
  contact:
    name: Redacted
    email: redacted@nextory.com
    url: www.nextory.se
  license:
    name: Licensed to Nextory
    url: 'https://www.nextory.se'
  termsOfService: www.nextory.se
security:
  - app_id: []
paths:















  /directbookdeletion:
    post:
      summary: Direct book deletion
      operationId: NX-038
      description: |-
        **Description:** Deletes a book from both ongoing list and the wishlist.

        **Parameters:** Mandatory header parameters plus one query parameter.

        **Example Request URL:** [https://www.nextory.se/api/app/library/7.1/directbookdeletion](https://www.nextory.se/api/app/library/7.1/directbookdeletion)

        **Example Error Response:**
        ```
        {
        "error": {
        "code": 7003
        "msg": "Direct deletion is failed",
        }
        }
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '31312312'
          in: query
          name: bookid
          description: The book ID associated to the library which has to be deleted.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                    required:
                      - status
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      status: SUCCESS
  /download-library-log:
    get:
      summary: Download library log
      operationId: NX-010
      description: |-
        **Description:** Notifies the backend about the download process (which happens on the app side). The app notifies when the download starts and finishes, as well as the download progress.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://www.nextory.se/api/4.1.1/library-download-log?appId=201&version=1.1&model=Simulator64&token=e35669e6-ac8f-474a-83c4-fe48f5b9ea1f&status=started&libid=94213](https://www.nextory.se/api/4.1.1/library-download-log?appId=201&version=1.1&model=Simulator64&token=e35669e6-ac8f-474a-83c4-fe48f5b9ea1f&status=started&libid=94213)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '94213'
          in: query
          name: libid
          description: 'The book identifier in the account holder’s library. Used in the activation process. Different from “id” and specific to each profile. When the book is not in my list or active, then we assume that “libid” is zero.'
          required: true
        - schema:
            type: string
            example: STARTED
            enum:
              - COMPLETED
              - FAILED
              - STARTED
          in: query
          name: status
          description: 'The status of the download process. Values are "STARTED", "FAILED" and "COMPLETED". All API versions.'
          required: true
        - schema:
            type: string
            example: Some arbitrary string...
          in: query
          name: error
          description: Sends an error message to the backend in case the app experiences issues while downloading a book. The error is an arbitrary string from whatever system encountered the error and is stored in the backend as a log. All API versions.
          required: false
        - schema:
            type: number
            example: 55.5
          in: query
          name: percentage
          description: The download progress as a percentage. Required only if “status” = “FAILED”. All API versions.
          required: true
        - schema:
            type: string
            example: '127764'
          in: query
          name: logid
          description: Identifier for a download process instance. If “status” = "STARTED" then "logid" is returned in response. Required only if “status” = "COMPLETED" or "FAILED". All API versions.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - logid
                    properties:
                      logid:
                        type: string
                        example: '187795'
                        description: Identifier for a download process instance. If "status" = "STARTED" then "logid" is returned in response.
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      logid: '187795'
  /editRatings:
    post:
      summary: Edit book ratings and reviews
      operationId: NX-34
      description: |-
        **Description:** Changes the ratings given to a book.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL:** [https://apptest.nextory.se:92//api/app/product/{api_version}/editRatings?](https://apptest.nextory.se:92//api/app/product/{api_version}/editRatings?)

        **Example Error Response:**
        ```
        {
        "error": {
        "code"" 1000
        "msg": "Fel har uppstått kontakta kundtjänst",
        }
        }
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: 5e85d4cf7ab320606eb0d216
          in: query
          name: commentid
          description: The ID of the comment that the account holder is interacting with. All API versions.
          required: true
        - schema:
            type: string
            example: '1023456'
          in: query
          name: id
          description: The ID of the book whose comments or review the account holder wants to edit. All API versions.
          required: true
        - schema:
            type: string
            example: '3'
          in: query
          name: rating
          description: The book rating given by the account holder. Can be any value between 1 and 5. Required only if a rating has been given to a book. All API versions.
          required: false
        - schema:
            type: string
            example: Great read!
          in: query
          name: reviews
          description: The review given to the book by the account holder. Any random string data. Required only if a review has been given to a book. All API versions.
          required: false
        - schema:
            type: string
            example: PUBLIC
          in: query
          name: access
          description: The value "PUBLIC" must be passed in all scenarios. All API versions.
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - status
                    properties:
                      status:
                        type: string
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      status: SUCCESS
  /facets:
    get:
      summary: Search facets
      operationId: NX-0141
      description: |-
        **Description:** Gets facets for a list of books that the account holder can use to narrow down the list.

        **Parameters:** Mandatory header parameters plus some query parameters.

        **Example Request URL (for Search Facets):** [http://104.155.208.232:82/api/app/catalogue/6.4/facets?appId=201&version=3.3.2&model=Simulator&osinfo=11.4&deviceid=1869C1C1-77D5-4AEA-B5F1-E1CE8045768B&locale=sv_SE&token=f77e8f50-73c2-436f-b9e9-e491953a0561&query=stieg&pagenumber=0&pagesize=12&sort=default&type=0&includenotallowedbooks=0](http://104.155.208.232:82/api/app/catalogue/6.4/facets?appId=201&version=3.3.2&model=Simulator&osinfo=11.4&deviceid=1869C1C1-77D5-4AEA-B5F1-E1CE8045768B&locale=sv_SE&token=f77e8f50-73c2-436f-b9e9-e491953a0561&query=stieg&pagenumber=0&pagesize=12&sort=default&type=0&includenotallowedbooks=0)

        **Example Request URL (for Level 3 Bookgroups Facets):** [http://104.155.208.232:82/api/app/catalogue/6.7/facets?appId=201&version=3.3.2&model=Simulator&osinfo=11.4&deviceid=1869C1C1-77D5-4AEA-B5F1-E1CE8045768B&locale=sv_SE&token=f77e8f50-73c2-436f-b9e9-e491953a0561&bookgroupid=ttc_413](http://104.155.208.232:82/api/app/catalogue/6.7/facets?appId=201&version=3.3.2&model=Simulator&osinfo=11.4&deviceid=1869C1C1-77D5-4AEA-B5F1-E1CE8045768B&locale=sv_SE&token=f77e8f50-73c2-436f-b9e9-e491953a0561&bookgroupid=ttc_413)
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: drama
          in: query
          name: query
          description: Search term. All API versions. Required API v6.5 and higher (optional v6.7 and higher).
          required: true
        - schema:
            type: string
            example: tttl_Nyheter ttc_413 sc_1010
          in: query
          name: bookgroupid
          description: 'Level 3 bookgroupid required for facets/filters. If both “query” and “bookgroupid” are passed, “query” takes precedence and “bookgroupid” is ignored.'
          required: true
        - schema:
            type: boolean
            example: true
          in: query
          name: includenotallowedbooks
          description: 'A boolean value (“1” or “0”) that indicates if books returned by the server are not allowed under the account holder’s subscription. "1" (true) = books are not allowed, “0” (false) = books are allowed. Pagination starts from 0. API v6.2 and higher.'
          required: false
        - schema:
            type: string
            example: Stieg Trenter (URL escaped)
          in: query
          name: 'authors_facet '
          description: 'Facet-related GET parameter to match NX-014. Parameters are authors_facet, formattype_facet, language_facet, categoryids_facet, seriesAsit_facet. The app should not keep this hardcoded, however it should hard-code the list of supported facets. Multiple values are comma-separated. API v6.5 and higher. '
          required: false
        - schema:
            type: string
            example: 'sv,en'
          in: query
          name: languages
          description: 'Takes single or multiple language codes as values, separated by a comma. If this is not passed, the backend filters bookgroups based on languages allowed for the user market. Any other language values specified will be ignored. If the format of the values is invalid, error code 1000 will be returned. API v7.1 and higher.'
          required: false
        - schema:
            type: string
            example: '1'
            enum:
              - '0'
              - '1'
              - '2'
          in: query
          name: type
          description: 'The type of book. Values are “0”, “1” and “2”. "1" = only e-books are returned. "2" = only audio books are returned. If missing or "0" then both e-books and audio books are returned. All API versions.'
          required: false
        - schema:
            type: boolean
            example: true
          in: query
          name: tags
          description: 'A boolean value (“1” or “0”) that indicates if the query is on tags. “1” (true) = is on tags, “0” (false) = is not on tags. API v7.1 and higher. Deprecated.'
          required: false
          deprecated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - books
                      - bookcount
                      - notallowedbookcount
                      - facets
                    properties:
                      books:
                        type: array
                        items:
                          type: object
                      bookcount:
                        type: number
                        example: 0
                        description: The total number of books in the bookgroup. Required in case of the /searchbooks (NX-013) endpoint response. All API versions.
                      notallowedbookcount:
                        type: number
                        example: 0
                        description: The total number of books that are not allowed for the account holder's subscription. Required in case of /searchbooks (NX-013) endpoint response. API v6.2 and higher.
                      facets:
                        type: array
                        uniqueItems: true
                        items:
                          type: object
                          properties:
                            attribute:
                              type: string
                              example: authors
                              description: 'What aspect is being filtered on in this section. In this example, the items listed will be the names of authors.'
                            isRange:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if the attribute is a numerical range. For example, book length. “1” (true) = is a numerical range, “0” (false) = is not a numerical range. The API does not use ranged values, only multiple-choice values. But the backend system supports filtering by numerical values in a range.'
                            values:
                              type: array
                              description: 'What alternatives can be elected for this attribute. In this example, each value is an author name.'
                              uniqueItems: true
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    example: Stieg Trenter
                                    description: What is shown to the end user to explain this option.
                                  count:
                                    type: number
                                    example: 37
                                    description: How many books will be shown to the end user if they select this option.
                                  selected:
                                    type: boolean
                                    example: false
                                    description: 'A boolean value ("1" or "0") that indicates if the user has already selected this option. “1” (true) = has selected, “0” (false) = has not selected. The user can make multiple selections, and for each selection this API call gets refreshed.'
                                required:
                                  - text
                                  - count
                                  - selected
                            primaryfacet:
                              type: boolean
                              example: true
                              description: Primary facets are cecets that are shown in expanded form on the initial facet view. The rest are shown in condensed form and need to be manually expanded.
                          required:
                            - attribute
                            - isRange
                            - primaryfacet
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      books: []
                      bookcount: 0
                      notallowedbookcount: 0
                      facets:
                        - attribute: authors
                          isRange: false
                          values:
                            - text: Stieg Trenter
                              count: 37
                              selected: false
                            - text: Stieg Larsson
                              count: 7
                              selected: false
                            - text: Eva Gabrielsson
                              count: 2
                              selected: false
                            - text: Kurdo Baksi
                              count: 1
                              selected: false
                            - text: Anna Jansson
                              count: 1
                              selected: false
                            - text: Carin Gerhardsen
                              count: 1
                              selected: false
                            - text: Cilla Börjlind
                              count: 1
                              selected: false
                            - text: Dag Öhrlund
                              count: 1
                              selected: false
                            - text: Henning Mankell
                              count: 1
                              selected: false
                            - text: Håkan Nesser
                              count: 1
                              selected: false
                            - text: Inger Frimansson
                              count: 1
                              selected: false
                            - text: Jan-Erik Pettersson
                              count: 1
                              selected: false
                            - text: Johan Theorin
                              count: 1
                              selected: false
                            - text: Katarina Wennstam
                              count: 1
                              selected: false
                            - text: Magnus Montelius
                              count: 1
                              selected: false
                            - text: Maj Sjöwall
                              count: 1
                              selected: false
                            - text: Malin Persson Giolito
                              count: 1
                              selected: false
                            - text: Marie-Françoise Colombani
                              count: 1
                              selected: false
                            - text: Per Wahlöö
                              count: 1
                              selected: false
                            - text: Rolf Börjlind
                              count: 1
                              selected: false
                            - text: Sara Stridsberg
                              count: 1
                              selected: false
                            - text: Tove Alsterdal
                              count: 1
                              selected: false
                            - text: Ulla Trenter
                              count: 1
                              selected: false
                            - text: Veronica von Schenck
                              count: 1
                              selected: false
                            - text: Åke Edwardson
                              count: 1
                              selected: false
                            - text: Åsa Larsson
                              count: 1
                              selected: false
                          primaryfacet: true
                        - attribute: seriesAsit
                          isRange: false
                          values:
                            - text: Harry Friberg
                              count: 24
                              selected: false
                            - text: Millennium
                              count: 6
                              selected: false
                          primaryfacet: false
                        - attribute: subscriptionorder
                          isRange: false
                          values:
                            - text: '1'
                              count: 48
                              selected: false
                            - text: '2'
                              count: 1
                              selected: false
                          primaryfacet: false
                        - attribute: language
                          isRange: false
                          values:
                            - text: sv
                              count: 45
                              selected: false
                            - text: fi
                              count: 3
                              selected: false
                          primaryfacet: false
                        - attribute: avgrate
                          isRange: true
                          range:
                            min: '3.0'
                            max: '4.75'
                            minSelected: '3.0'
                            maxSelected: '4.75'
                          primaryfacet: true
                        - attribute: categoryids
                          isRange: false
                          values:
                            - text: '1'
                              count: 42
                              selected: false
                              displayname: Deckare
                            - text: '240'
                              count: 5
                              selected: false
                              displayname: Fakta
                            - text: '108'
                              count: 4
                              selected: false
                              displayname: Biografier & memoarer
                            - text: '310'
                              count: 1
                              selected: false
                              displayname: Livsstil
                          primaryfacet: false
                        - attribute: formattype
                          isRange: false
                          values:
                            - text: '1'
                              count: 48
                              selected: false
                            - text: '2'
                              count: 16
                              selected: false
                          primaryfacet: false
  /forgotpassword:
    get:
      summary: Username and password
      operationId: NX-0021
      description: |-
        **Description:** Triggers an email that allows the account holder to reset their password.

        **Parameters:** Mandatory header parameters plus one query parameter.

        **Example Request URL:** [https://www.nextory.se/api/5.1/forgotpassword?email=taras%40frescano.se&osinfo=Android%207.0&appId=200&deviceid=000000000000000&version=2.1&model=Unknown%2BAndroid%2BSDK%2Bbuilt%2Bfor%2Bx86_64](https://www.nextory.se/api/5.1/forgotpassword?email=taras%40frescano.se&osinfo=Android%207.0&appId=200&deviceid=000000000000000&version=2.1&model=Unknown%2BAndroid%2BSDK%2Bbuilt%2Bfor%2Bx86_64)
      tags:
        - Authentication and login
      parameters:
        - schema:
            type: string
            example: ios_sigma@frescano.se
          in: query
          name: username
          description: The username or email as it is. Not required for Facebook/Google logins. All API versions.
          required: true
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - msg
                    properties:
                      msg:
                        type: string
                        example: Instruktioner för återställande av lösenord har skickats till din e-post
                        description: The message returned to the account holder when they request a password reset.
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      msg: Instruktioner för återställande av lösenord har skickats till din e-post
  /globallanguages:
    get:
      summary: Global languages
      operationId: NX-027
      description: |-
        **Description:** Gets a list of book languages available in the account holder’s current market.

        **Parameters:** Mandatory header parameters only.

        **Example Request URL:** [https://www.nextory.se/api/app/user/6.6/globallanguages](https://www.nextory.se/api/app/user/6.6/globallanguages)
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - primary
                      - languages
                    properties:
                      primary:
                        type: string
                        example: sv
                        description: The primary language available in the account holder's current market.
                      languages:
                        type: array
                        description: All languages available in the account holder's current market.
                        items: {}
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      primary: sv
                      languages:
                        - sv
                        - fi
                        - en
  /groups:
    get:
      summary: Fetch bookgroups
      operationId: NX-004
      description: |-
        **Description:** Returns a list of bookgroups. Bookgroups are the core list of books around which the entire app is built.

        **Parameters:** Mandatory header parameters plus several query parameters.

        **Example Request URL:** [https://www.nextory.se/api/5.1/forgotpassword?email=taras%40frescano.se&osinfo=Android%207.0&appId=200&deviceid=000000000000000&version=2.1&model=Unknown%2BAndroid%2BSDK%2Bbuilt%2Bfor%2Bx86_64](https://www.nextory.se/api/5.1/forgotpassword?email=taras%40frescano.se&osinfo=Android%207.0&appId=200&deviceid=000000000000000&version=2.1&model=Unknown%2BAndroid%2BSDK%2Bbuilt%2Bfor%2Bx86_64)
      tags:
        - Books and bookgroups
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: level2
            enum:
              - BOOK_CARD
              - FOLLOW_LIST
              - level2
              - main
              - related
              - series
          in: query
          name: view
          description: 'Defines the place in the app where retrieved bookgroups appear. Values are “main”, “level2”, “series”, “related”, “BOOK_CARD” and “FOLLOW_LIST”. API v6.0 and higher.'
          required: true
        - schema:
            type: string
            example: ttc_123
          in: query
          name: bookgroupid
          description: Top-tier category book group identifier. Required if "view" = "level2". API v6.0 and higher.
          required: true
        - schema:
            type: string
            example: '1033884'
          in: query
          name: bookid
          description: Book identifier. Required if "view" = "related". API v6.0 and higher.
          required: true
        - schema:
            type: string
            example: '1'
          in: query
          name: pagenumber
          description: Page number for lazy load (pagination). Default value = “0”. All API versions.
          required: true
        - schema:
            type: string
            example: '7'
          in: query
          name: pagesize
          description: The number of bookgroups displayed on a single page. Required if view = "series". There may be situations where a page contains fewer bookgroups than requested. But this does not mean that the next page will contain zero bookgroups. The app therefore needs to continue asking for more bookgroups until it gets an empty array of bookgroups in response. API v6.0 and higher.
          required: true
        - schema:
            type: string
            example: 'sv,en'
          in: query
          name: languages
          description: 'Takes single or multiple language codes as values, separated by a comma. If this is not passed, the backend filters bookgroups based on languages allowed for the user market. Any other language values specified will be ignored. If the format of the values is invalid, error code 1000 will be returned. API v7.1 and higher.'
          required: true
        - schema:
            type: string
            example: '1'
          in: query
          name: formattype
          description: 'The type of book. Values are “0”, “1” and “2”. "1" = only e-books are returned. "2" = only audio books are returned. If missing or "0" then both e-books and audio books are returned. All API versions.'
          required: true
        - schema:
            type: string
            example: Any string
          in: query
          name: nextpageid
          description: 'To get the first page of content, the app can send this value as “0”. For subsequent calls, the app will send back the nextpageid provided by the backend. If “nextpageid” is provided, then “pagenumber” and “pagesize” should not be sent. When using “nextpageid”, “pagesize” is fixed at 10. For the final page, the backend will not send “nextpageid”. This tells the app that there is no more data to fetch. “nextpageid” is only supported when “view” = “FOLLOW_LIST”. Optional from API v7.4 and higher.'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - bookgroups
                    properties:
                      nextpageid:
                        type: string
                        example: '2021-02-08T13:32:54.109000000Z'
                        description: 'To get the first page of content, the app can send this value as “0”. For subsequent calls, the app will send back the nextpageid provided by the backend. If “nextpageid” is provided, then “pagenumber” and “pagesize” should not be sent. When using “nextpageid”, “pagesize” is fixed at 10. For the final page, the backend will not send “nextpageid”. This tells the app that there is no more data to fetch. “nextpageid” is only supported when “view” = “FOLLOW_LIST”. Optional from API v7.4 and higher.'
                      bookgroups:
                        type: array
                        uniqueItems: true
                        items:
                          type: object
                          properties:
                            parentid:
                              type: string
                              example: ttc_123
                              description: Parent bookgroup (top-tier category book) identifier. Required for Level2 API only. API v6.0 and higher.
                            id:
                              type: string
                              example: sc_3245
                              description: The bookgroup identifier. Used by the NX-0041 endpoint as a GET parameter. API v6.0 and higher.
                            type:
                              type: string
                              example: SUB_CATEGORY_TOP_LIST_TYPE
                              description: 'The bookgroup type. API v6.0 and higher except for Top-Tier Watch-List (v6.8 and above), Top-Tier Upcoming-List (v6.9 and above), BOOK_CARD_AUTHORS, BOOK_CARD_SERIES, BOOK_CARD_NARRATORS (v7.1 and above).'
                              enum:
                                - BOOK_CARD_AUTHORS
                                - BOOK_CARD_SERIES
                                - BOOK_CARD_NARRATORS
                                - Promotion_LIST_TYPE
                                - TOP_TIER_TOP_LIST_TYPE
                                - RELATED_TYPE
                                - SUB_CATEGORY_TOP_CATEGORY_TYPE
                                - SUB_CATEGORY_TOP_LIST_TYPE
                                - TOP_TIER_TOP_CATEGORY_TYPE
                                - Top-Tier Upcoming-List
                                - Top-Tier Watch-List
                            contenttype:
                              type: number
                              example: 0
                              description: 'An enum value that defines the content type of a bookgroup. "1" = a bookgroup with e-books only, "2" = a bookgroup with audio books only, "0" a bookgroup with both e-books and audio books. API v6.0 and higher.'
                              enum:
                                - 0
                                - 1
                                - 2
                            title:
                              type: string
                              example: Deckare & kriminalromaner
                              description: The title of the bookgroup. API v6.0 and higher.
                            description:
                              type: string
                              example: Make that long journey in the car more entertaining with audio books for the whole family.
                              description: 'A description of the bookgroup. Applies only to the "Promotion" bookgroup type. Can be an empty string, but not null. API v6.3 and higher.'
                            label:
                              type: string
                              example: All ages
                              description: 'Applies only to the "Promotion" bookgroup type. Can be an empty string, but not null. Text is kept short to prevent an issue in the UI if the label text is too long. API v6.3 and higher.'
                            imageurl:
                              type: string
                              example: 'https://www.nextory.se/promolistimages/1007145.jpg'
                              description: Valid image URL. Applies only to the "Promotion" bookgroup type. The image does not need to support resizing on the server. API v6.3 and higher.
                            imagelargeurl:
                              type: string
                              example: 'https://www.nextory.se/promolistimages/1007146.jpg'
                              description: Valid image URL. Applies only to "Promotion" bookgroup type. The image does not need to support resizing on the server. API v6.3 and higher.
                            darktext:
                              type: boolean
                              example: true
                              description: 'A boolean value (“1” or “0”) that indicates if a bookgroup’s text should be dark or light. “1” (true) = text is dark, “0” (false) = text is light. Applies to the “promotion” bookgroup type only. For images that are very dark, we want to be able to switch the text color to a light color. API v6.3 and higher.'
                            haschild:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if a bookgroup is a parent of other bookgroups. “1” (true) = is a parent, “0” = is not a parent. Basically, all top-tier categories are parent bookgroups, but we need this attribute in order to support, say, parent top-lists in the future. API v6.0 and higher.'
                            covers:
                              type: array
                              description: An array that holds exactly three strings. Each string is a link to a cover image. The three links point to the cover images of the first three books in the series. API v6.0 and higher.
                              items:
                                type: string
                            position:
                              type: number
                              example: 4
                              description: 'Defines how bookgroups are sorted in a list (e.g. on the home screen, in Level 2, on a book card screen) as well as in order of series popularity. The position must be unique for each bookgroup in each of the four APIs (top-tier list types) and must be globally sortable for historical reasons. API v6.0 and higher.'
                            allowsorting:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if ordering (sorting) is allowed for a certain bookgroup. “1” (true) = sorting is allowed, “0” (false) = sorting is not allowed. For example, in some related bookgroups (books in the same series) we will not allow ordering similar to all popular series. Also, in the New and We Recommend top-tier top-lists and sub-top-lists we will not allow ordering because of Apptus limitations. API v6.0 and higher (will be deprecated once the app starts consuming the “sortfields” parameter).'
                            showvolume:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if the app should show the volume number of each individual book in a bookgroup (see the “numberinseries” book attribute in NX-0041). “1” (true) = the app will show the “numberinseries” value only if it is greater than zero, “0” (false) = the app uses “0” as a default value when “showvolume” is missing. API v6.0 and higher.'
                            showfilter:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if filter/facets are to be enabled for a bookgroup/list. “1” (true) = show the filter, “0” (false) = do not show the filter. Facets are not supported by Apptus for some lists such as ''Recommended for you''. API v6.7 and higher.'
                            additionalattribs:
                              type: object
                              example:
                                '0': Harry Potter
                              description: 'A JSON object containing a key/value pair sequence. Position starting from 0 is a key, and the value is a book title to be used to label the custom panel "Because you like". The value is set only for the group type "Top-Tier Watch-List". API v6.7 and higher.'
                              required:
                                - ''
                              properties:
                                '':
                                  type: string
                            sortfields:
                              type: object
                              example:
                                sortfields:
                                  - field: nest
                                    position: 0
                                    default: 0
                                  - field: title
                                    position: 1
                                    default: 0
                                  - field: publisheddate
                                    position: 2
                                    default: 1
                                  - field: rating
                                    position: 3
                                    default: 0
                                  - field: relevance
                                    position: 4
                                    default: 0
                              description: An array of objects containing sort field and position. The order of the sort attributes are maintained in the backend (so the backend will send in sorted order). API v7.1 and higher.
                            smallimage:
                              type: string
                              example: 'https: //storage.google/catimages/deckare.jpg'
                              description: A small image to be used as a background when displaying this list on smaller screens. API v7.1 and higher.
                            largeimage:
                              type: string
                              example: 'https: //storage.google/catimages/deckare_lar.jpg'
                              description: A larger image to be used as a background for larger screens. API v7.1 and higher.
                            bgc:
                              type: string
                              example: '#C13010'
                              description: A background color to be used when displaying the list. API v7.1 and higher.
                            bookcount:
                              type: number
                              example: 200
                              description: The total number of books in the list. API v7.1 and higher.
                            socialmeta:
                              type: object
                              properties:
                                followid:
                                  type: string
                                  example: '213123'
                                  description: An identifier that can be used to follow this particular list and get updates when new books arrive. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.
                                followtype:
                                  type: string
                                  example: author
                                  description: 'The type of list this is in the context of following. Examples include author, series, narrator. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.'
                                followslug:
                                  type: string
                                  example: annika-bengtzon-531
                                  description: A globally unique identifier for this list. Can be used to find this list on a website or other system that requires properly printed names for things. API v7.1 and higher.
                                title:
                                  type: string
                                  example: Annika Begtzon
                                  description: The title of this list. To be used in the social/following context. API v7.1 and higher.
                                version:
                                  type: string
                                  example: '1.0'
                                  description: The version of the socialmeta object. API v7.1 and higher.
                                activityfeed:
                                  type: boolean
                                  example: true
                                  description: 'A boolean value (“1” or “0”) that indicates if the account holder is currently getting updates to their activity feed from this list. “1” = is getting updates, “0” = is not getting updates. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.'
                                notification:
                                  type: boolean
                                  example: true
                                  description: 'A boolean value ("1" or "0") that indicates if the account holder is currently getting push notifications about updates to this list. “1” (true) = is getting notifications, “0” (false) = is not getting notifications. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.'
                                followers:
                                  type: number
                                  example: 123123
                                  description: The number of account holders who are currently following this list. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.
                                weblink:
                                  type: string
                                  example: 'https://www.nextory.se/kategorier/alla-bocker/forfatter/annika-bengtzon-531/?ref=author'
                                  description: A link to the website representation of this list. The socialmeta tag itself will not be present if the bookgroup is not eligible for social. API v7.1 and higher.
                              required:
                                - followid
                                - followtype
                                - activityfeed
                                - notification
                                - followers
                          required:
                            - id
                            - type
                            - title
                            - haschild
                            - position
                            - allowsorting
                            - showfilter
                required:
                  - data
              examples:
                Example (Main View):
                  value:
                    data:
                      nextpageid: '2021-02-08T13:32:54.109000000Z'
                      bookgroups:
                        - id: tttl_watch_422_10027204
                          type: Top-Tier Watch-List
                          title: 'Because you read {title}'
                          haschild: false
                          position: 0
                          allowsorting: false
                          showfilter: false
                          additionalattribs:
                            '0': Calendar Girl
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: title
                                  position: 1
                                  default: 0
                                - field: publisheddate
                                  position: 2
                                  default: 1
                                - field: rating
                                  position: 3
                                  default: 0
                                - field: relevance
                                  position: 4
                                  default: 0
                        - id: tttl_upcoming_56
                          type: Top-Tier Upcoming-List
                          title: Upcoming Books
                          haschild: false
                          position: 0
                          allowsorting: false
                          showfilter: false
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: nest
                                  position: 0
                                  default: 1
                                - field: title
                                  position: 1
                                  default: 0
                                - field: publisheddate
                                  position: 2
                                  default: 0
                                - field: rating
                                  position: 3
                                  default: 0
                                - field: relevance
                              position: 4
                              default: 0
                        - id: tttl_TopE
                          type: TOP_TIER_TOP_LIST_TYPE
                          title: Populära e-böcker
                          haschild: true
                          position: 0
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: nest
                                  position: 0
                                  default: 0
                                - field: title
                                  position: 1
                                  default: 0
                                - field: publisheddate
                                  position: 2
                                  default: 1
                                - field: rating
                                  position: 3
                                  default: 0
                                - field: relevance
                                  position: 4
                                  default: 0
                        - id: tttl_TopA
                          type: TOP_TIER_TOP_LIST_TYPE
                          title: Populära ljudböcker
                          haschild: true
                          position: 1
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: nest
                                  position: 0
                                  default: 0
                                - field: title
                                  position: 1
                                  default: 0
                                - field: publisheddate
                                  position: 2
                                  default: 1
                                - field: rating
                                  position: 3
                                  default: 0
                                - field: relevance
                                  position: 4
                                  default: 0
                        - id: ttc_123
                          type: TOP_TIER_TOP_CATEGORY_TYPE
                          title: Silfverbielke
                          haschild: true
                          position: 2
                          allowsorting: true
                          showfilter: true
                        - id: p_1
                          type: Promotion_LIST_TYPE
                          title: Take some books on your road trip
                          description: Make that long journey in the car more entertaining with audio books for the whole family.
                          label: All ages
                          imageurl: 'https://www.nextory.se/coverimg/130/1007145.jpg'
                          imagelargeurl: 'https://www.nextory.se/coverimg/130/1007145.jpg'
                          haschild: false
                          position: 3
                          allowsorting: false
                          showfilter: false
                          socialmeta:
                            followid: '1347'
                            followtype: author
                            followslug: gunilla-wolde-1347
                            title: Gunilla Wolde
                            version: '1.0'
                            activityfeed: false
                            notification: true
                            followers: 623
                            weblink: 'https://www.nextory.se/kategorier/alla-bocker/forfatter/gunilla-wolde-1347/?ref=author'
                Example (level2 View):
                  value:
                    data:
                      nextpageid: '2021-02-08T13:32:54.109000000Z'
                      bookgroups:
                        - parentid: ttc_123
                          id: sc_3245
                          type: SUB_CATEGORY_TOP_LIST_TYPE
                          contenttype: 0
                          title: Deckare & kriminalromaner
                          description: Make that long journey in the car more entertaining with audio books for the whole family.
                          label: All ages
                          imageurl: 'https://www.nextory.se/promolistimages/1007145.jpg'
                          imagelargeurl: 'https://www.nextory.se/promolistimages/1007146.jpg'
                          darktext: true
                          haschild: false
                          covers:
                            - 'https://www.nextory.se/coverimg/130/10026058.jpg'
                            - 'https://www.nextory.se/coverimg/130/10026052.jpg'
                            - 'https://www.nextory.se/coverimg/130/10045760.jpg'
                          position: 4
                          allowsorting: true
                          showvolume: true
                          showfilter: true
                          additionalattribs:
                            '0': Harry Potter
                          sortfields:
                            sortfields:
                              - field: nest
                                position: 0
                                default: 0
                              - field: title
                                position: 1
                                default: 0
                              - field: publisheddate
                                position: 2
                                default: 1
                              - field: rating
                                position: 3
                                default: 0
                              - field: relevance
                                position: 4
                                default: 0
                          smallimage: 'https: //storage.google/catimages/deckare.jpg'
                          largeimage: 'https: //storage.google/catimages/deckare_lar.jpg'
                          bgc: '#C13010'
                          bookcount: 200
                          socialmeta:
                            followid: '213123'
                            followtype: author
                            followslug: annika-bengtzon-531
                            title: Annika Begtzon
                            version: '1.0'
                            activityfeed: true
                            notification: true
                            followers: 123123
                            weblink: 'https://www.nextory.se/kategorier/alla-bocker/forfatter/annika-bengtzon-531/?ref=author'
                Example (Series View):
                  value:
                    data:
                      bookgroups:
                        - id: s_1234
                          type: BOOK_CARD_SERIES
                          title: Nobelpriset 2017
                          haschild: false
                          covers:
                            - 'https://www.nextory.se/coverimg/130/10026058.jpg'
                            - 'https://www.nextory.se/coverimg/130/10026052.jpg'
                            - 'https://www.nextory.se/coverimg/130/10045760.jpg'
                          position: 0
                          allowsorting: false
                          showvolume: true
                          showfilter: true
                        - id: s_1235
                          type: BOOK_CARD_SERIES
                          title: Jana Berzelius
                          haschild: false
                          covers:
                            - 'https://www.nextory.se/coverimg/130/10018115.jpg'
                            - 'https://www.nextory.se/coverimg/130/10022966.jpg'
                            - 'https://www.nextory.se/coverimg/130/10027203.jpg'
                          position: 1
                          allowsorting: false
                          showvolume: true
                        - id: s_1236
                          type: BOOK_CARD_SERIES
                          title: Silfverbielke
                          haschild: false
                          covers:
                            - 'https://www.nextory.se/coverimg/130/10015158.jpg'
                            - 'https://www.nextory.se/coverimg/130/10041773.jpg'
                            - 'https://www.nextory.se/coverimg/130/10030367.jpg'
                          position: 2
                          allowsorting: false
                Example (Related View):
                  value:
                    data:
                      bookgroups:
                        - id: r_12543_series
                          type: RELATED_TYPE
                          title: Titlar av författaren
                          haschild: false
                          position: 0
                          allowsorting: false
                          showvolume: true
                          showfilter: true
                Example (BOOK_CARD View):
                  value:
                    data:
                      bookgroups:
                        - id: r_10443923_series
                          type: RELATED_TYPE
                          title: Serie Otavan äänikirja
                          haschild: false
                          position: 0
                          allowsorting: true
                          showfilter: true
                          showvolume: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: volume
                                  position: 0
                                  default: 1
                                - field: relevance
                                  position: 1
                                  default: 0
                                - field: published_date
                                  position: 2
                                  default: 0
                                - field: average_rating
                                  position: 3
                                  default: 0
                                - field: title
                                  position: 4
                                  default: 0
                                - field: authors
                                  position: 5
                                  default: 0
                        - id: r_10443923_rec
                          type: RELATED_TYPE
                          title: Andra har också läst
                          haschild: false
                          position: 1
                          allowsorting: false
                          showfilter: false
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: relevance
                                  position: 0
                                  default: 1
                        - id: s_Otavan äänikirja
                          type: BOOK_CARD_SERIES
                          title: Otavan äänikirja
                          haschild: false
                          position: 2
                          allowsorting: true
                          showfilter: true
                          showvolume: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: volume
                                  position: 0
                                  default: 1
                                - field: relevance
                                  position: 1
                                  default: 0
                                - field: published_date
                                  position: 2
                                  default: 0
                                - field: average_rating
                                  position: 3
                                  default: 0
                                - field: title
                                  position: 4
                                  default: 0
                                - field: authors
                                  position: 5
                                  default: 0
                        - id: search_authors_Madeleine Bernadotte
                          type: BOOK_CARD_AUTHORS
                          title: Madeleine Bernadotte
                          haschild: false
                          position: 3
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: relevance
                                  position: 0
                                  default: 1
                                - field: published_date
                                  position: 1
                                  default: 0
                                - field: average_rating
                                  position: 2
                                  default: 0
                                - field: title
                                  position: 3
                                  default: 0
                                - field: authors
                                  position: 4
                                  default: 0
                        - id: search_authors_Karini Gustafson-Teixeira
                          type: BOOK_CARD_AUTHORS
                          title: Karini Gustafson-Teixeira
                          haschild: false
                          position: 4
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: relevance
                                  position: 0
                                  default: 1
                                - field: published_date
                                  position: 1
                                  default: 0
                                - field: average_rating
                                  position: 2
                                  default: 0
                                - field: title
                                  position: 3
                                  default: 0
                                - field: authors
                                  position: 4
                                  default: 0
                        - id: search_authors_Marie Oskarsson
                          type: BOOK_CARD_AUTHORS
                          title: Marie Oskarsson
                          haschild: false
                          position: 5
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: relevance
                                  position: 0
                                  default: 1
                                - field: published_date
                                  position: 1
                                  default: 0
                                - field: average_rating
                                  position: 2
                                  default: 0
                                - field: title
                                  position: 3
                                  default: 0
                                - field: authors
                                  position: 4
                                  default: 0
                        - id: search_narrators_Saara Lehtonen
                          type: BOOK_CARD_NARRATORS
                          title: Saara Lehtonen
                          haschild: false
                          position: 6
                          allowsorting: true
                          showfilter: true
                          sortfields:
                            type: object
                            example:
                              sortfields:
                                - field: relevance
                                  position: 0
                                  default: 1
                                - field: published_date
                                  position: 1
                                  default: 0
                                - field: average_rating
                                  position: 2
                                  default: 0
                                - field: title
                                  position: 3
                                  default: 0
                                - field: authors
                                  position: 4
                                  default: 0
  /library/active:
    get:
      summary: My List (active books)
      operationId: NX-007
      description: |-
        **Description:** Gets a list of books that the account holder is currently reading.

        **Parameters:** Mandatory header parameters only.

        **Example Request URL:** [https://www.nextory.se/api/app/library/6.5/active](https://www.nextory.se/api/app/library/6.5/active)

        **Book Formats:**
        For audio books, the app can either download an MP3 for offline playback or use another format that is appropriate for streaming playback.

        **Other Information:**
        See NX-008 for information about timestamp, pagination, sorting and filtering.
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - bookCount
                      - books
                    properties:
                      bookCount:
                        type: string
                        example: '1'
                        description: The total number of books in the bookgroup. Required in case of the /searchbooks (NX-013) endpoint response. All API versions.
                      books:
                        type: array
                        uniqueItems: true
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '1026126'
                              description: The identifier for the book itself. All API versions.
                            type:
                              type: string
                              example: '1'
                              description: 'Enum value that defines the content type of a book. "1" e-books only, "2" audio book only. All API versions.'
                              enum:
                                - '0'
                                - '1'
                                - '2'
                            isbn:
                              type: string
                              example: '9789113101996'
                              description: The book ISBN number. All API versions.
                            authors:
                              type: array
                              description: The book author or authors. All API versions.
                              items: {}
                            dateModified:
                              type: string
                              example: '02-10-2016 15:32:26 +0100'
                              description: The date when a book was last added to My List or inactivation (another way to add a book to My List). Used for sorting purposes. The book with the most recent modification date goes first. All API versions.
                            descriptionBrief:
                              type: string
                              example: Some description...
                              description: A brief description of the book. Might be a truncated book description from a book card screen. All API versions.
                            streamingfile:
                              type: object
                              description: 'A new optional attribute, “streamingfile” has a format that supports audio streaming file formats. The existing field “file” will be available if MP3 exists. This field format is available only for audio books. In case of audio, “formatid” = “304” (hls). API v7.0 and higher.'
                              properties:
                                url:
                                  type: string
                                  example: 'https://...'
                                  description: The URL of the streamed audio book. API v7.0 and higher.
                                formatid:
                                  type: number
                                  example: 304
                                  description: 'The format of the streamed audio book MP3 resource file. Values are “303” and “304”. “303” = mp3, “304” = hls. API 7.0 and higher.'
                                duration:
                                  type: string
                                  example: '23805'
                                  description: The streamed audio book duration in seconds. Required for audio books only. API 7.0 and higher.
                                sizeinbytes:
                                  type: number
                                  example: 122710929
                                  description: The size of the streamed audio book file in bytes. API v7.0 and higher.
                                checksum:
                                  type: string
                                  example: CXNVa0kBN5rb0Ucr1HBeDA==
                                  description: The streamed audio book file checksum. API v7.0 and higher.
                            file:
                              type: object
                              description: Available if MP3 exists.
                              properties:
                                url:
                                  type: string
                                  example: 'https://...'
                                  description: The URL to download the audio book MP3 file. All API versions.
                                formatid:
                                  type: number
                                  example: 303
                                  description: 'The format of the audio book MP3 resource file. Values are “303” and “304”. “303” = mp3, “304” = hls. All API versions.'
                                duration:
                                  type: string
                                  example: '23805'
                                  description: The MP3 audio book duration in seconds. Required for audio books only. All API versions.
                                sizeinbytes:
                                  type: number
                                  example: 142710929
                                  description: The size of the MP3 file in bytes. All API versions.
                                checksum:
                                  type: string
                                  example: CXNVa0kBN5rb0Ucr1HBeDA==
                                  description: The MP3 audio book file checksum. All API versions.
                              required:
                                - url
                                - formatid
                                - duration
                                - sizeinbytes
                                - checksum
                            imageUrl:
                              type: string
                              example: 'https://www.nextory.se/coverimg/130/1026126.jpg'
                              description: Valid image URL. Applies only to the "Promotion" bookgroup type. The image does not need to support resizing on the server. API v6.3 and higher.
                            weburl:
                              type: string
                              example: 'https://nextory.se/bok/jakten-pa-tam-jo-salmson/1007145'
                              description: Bookdetails link for Nextory web. All API versions.
                            libId:
                              type: string
                              example: '168190'
                              description: 'The book identifier in the account holder’s library. Used in the activation process. Different from “id” and specific to each profile. When the book is not in my list or active, then we assume that “libId” is zero. All API versions.'
                            allowedinlibrary:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if the book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. The value should always = “1” for active books because an active book cannot be ‘not allowed’ in an account holder’s library. All API versions.'
                            relatedbookallowedinlibrary:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if the related book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. Required in case of non-empty “relatedbookid”. All API versions.'
                            pubDate:
                              type: string
                              example: '02-10-2016 15:32:26 +0100'
                              description: The book publication date. The date format might be different but must be consistent across the entire API. Used to sort books locally by date. All API versions.
                            relatedBookId:
                              type: string
                              description: 'Indicates if the e-book has a related audiobook or vice versa. Contains an identifier for the related book. If missing, then the book does not have a related book. All API versions.'
                              example: '1007146'
                            synchsettings:
                              type: object
                              properties:
                                completed:
                                  type: string
                                  example: '0'
                                  description: 'The read status of the book. Values are “0” and “1”. "0" = the book has not been completed (is in progress), "1" = the book has been completed. It is not necessary for “currentpercentage” to = “1” since the account holder can just indicate that a book is completed. All API versions.'
                                currentPercentage:
                                  type: string
                                  example: '0.75'
                                  description: 'The current read position. A value between “0” and “1”. If missing, it means that a book is unread/not listened to (in other words, is equal to zero). All API versions.'
                                position:
                                  type: number
                                  example: 0.7432
                                  description: 'A value, which is different depending on the book format (ePub, PDF, audio book). If ePub, the value is almost the same as currentPercentage (but sometimes not exactly the same – probably because of SkyePub). If PDF, the value is integer (the exact PDF page number). If audio book, the value is the current playback time in milliseconds. All API versions.'
                                cfi:
                                  type: string
                                  example: '4[epub_Hatadochalskad]/2/32,/1:0,/1:94'
                                  description: The value used for Cloudshelf reader sync. All API versions.
                                idref:
                                  type: string
                                  example: epub_Hatadochalskad-7
                                  description: The value used for Cloudshelf reader sync. All API versions.
                                syncdate:
                                  type: string
                                  example: '02-15-2016 13:42:25 +0100'
                                  description: The timestamp when the app last sent the account holder settings to the backend.
                                usageblockslimit:
                                  type: number
                                  example: 10
                                  description: The number of usage blocks to be POSTed in one go. All API versions.
                              required:
                                - completed
                                - currentPercentage
                                - position
                                - cfi
                                - idref
                                - syncdate
                                - usageblockslimit
                            title:
                              type: string
                              example: Nya hyss av Emil i Lönneberga
                              description: The book title. This value is also used to sort books locally by title. All API versions.
                            avgrate:
                              type: number
                              example: 4.5
                              description: The average book rating given by account holders. API v6.3 and higher.
                            numberofrates:
                              type: integer
                              example: 10
                              description: The total number of account holder ratings given to the book. “0” = there are no ratings yet. API v6.3 and higher.
                            userrate:
                              type: number
                              example: 5
                              description: 'The book rating given by the account holder. Values are "0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0". A value of 0.0 means that the account holder has not rated the book. API v5.6 and higher.'
                              enum:
                                - 0
                                - 0.5
                                - 1
                                - 1.5
                                - 2
                                - 2.5
                                - 3
                                - 3.5
                                - 4
                                - 4.5
                                - 5
                            isupcoming:
                              type: boolean
                              example: false
                              description: 'A boolean value ("1" or "0") that indicates if the book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                            isrelatedbookupcoming:
                              type: boolean
                              example: true
                              description: 'A boolean value ("1" or "0") that indicates if the related book is upcoming or not. “1” (true) = is upcoming, “0” (false) = is not upcoming. API v6.9 and higher.'
                            libstatus:
                              type: string
                              example: ACTIVE
                              description: 'Indicates the possible status of the book in the account holder’s library. Values are “NOTINLIB”, “ACTIVE”, “INACTIVE” and “COMPLETED”. API v7.1 and higher.'
                              enum:
                                - ACTIVE
                                - COMPLETED
                                - INACTIVE
                                - NOTINLIB
                          required:
                            - id
                            - type
                            - isbn
                            - dateModified
                            - descriptionBrief
                            - imageUrl
                            - weburl
                            - libId
                            - allowedinlibrary
                            - relatedbookallowedinlibrary
                            - pubDate
                            - relatedBookId
                            - title
                            - avgrate
                            - numberofrates
                            - userrate
                            - isupcoming
                            - isrelatedbookupcoming
                            - libstatus
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      bookCount: '1'
                      books:
                        - id: '1026126'
                          type: '1'
                          isbn: '9789113101996'
                          authors:
                            - Astrid Lindgren
                            - Astrid Lindgren II
                          dateModified: '02-10-2016 15:32:26 +0100'
                          descriptionBrief: Some description...
                          streamingfile:
                            url: 'https://apptest.nextory.se:82/nest/api/ver2/product/download?data=eyJsaWJpZCI6IjYwOTA2MDEiLCJmb3JtYXRpZCI6IjMwMyIsInByb2R1Y3RpZCI6IjEwMjQ3NjYyIiwib3JkZXJpZCI6Ijg3ODYyMDUiLCJhcHBpZCI6IjE1MDgyNCIsImNoZWNrc3VtIjoiYzkwMTM2OTViYThmMTA5NjYzZjg1Y2ZkZWY2ZDdhZDQifQ==&hls=1'
                            formatid: 304
                            duration: '23805'
                            sizeinbytes: 122710929
                            checksum: CXNVa0kBN5rssss0Ucr1HBeDA==
                          file:
                            url: 'https://apptest.nextory.se:82/nest/api/ver2/product/download?data=eyJsaWJpZCI6IjYwOTA2MDEiLCJmb3JtYXRpZCI6IjMwMyIsInByb2R1Y3RpZCI6IjEwMjQ3NjYyIiwib3JkZXJpZCI6Ijg3ODYyMDUiLCJhcHBpZCI6IjE1MDgyNCIsImNoZWNrc3VtIjoiYzkwMTM2OTViYThmMTA5NjYzZjg1Y2ZkZWY2ZDdhZDQifQ=='
                            formatid: 303
                            duration: '23805'
                            sizeinbytes: 142710929
                            checksum: CXNVa0kBN5rb0Ucr1HBeDA==
                          imageUrl: 'https://www.nextory.se/coverimg/130/1026126.jpg'
                          weburl: 'https://nextory/bok/jakten-pa-tam-jo-salmson/1026126'
                          libId: '94213'
                          allowedinlibrary: true
                          relatedbookallowedinlibrary: false
                          pubDate: '02-10-2016 15:32:26 +0100'
                          relatedBookId: '1007146'
                          synchsettings:
                            completed: '0'
                            currentPercentage: '0.75'
                            position: 0.7432
                            cfi: '4[epub_Hatadochalskad]/2/32,/1:0,/1:94'
                            idref: epub_Hatadochalskad-7
                            syncdate: '02-15-2016 13:42:25 +0100'
                            usageblockslimit: 10
                          title: Nya hyss av Emil i Lönneberga
                          avgrate: 4.8018281535649
                          numberofrates: 10
                          userrate: 5
                          isupcoming: true
                          isrelatedbookupcoming: false
                          libstatus: ACTIVE
  /library/inactive:
    get:
      summary: My List (inactive books)
      operationId: NX-008
      description: |
        **Description:** Gets a list of books that the account holder has indicated they want to read in the future.

        **Parameters:** Mandatory header parameters plus one query parameter.

        **Example Request URL:** [https://www.nextory.se/api/app/library/6.5/inactive](https://www.nextory.se/api/app/library/6.5/inactive)

        **Timestamp and Pagination:**
        The app needs to download data by page in case account holders’ My Lists contain a lot of books. For example, download the first 20 books (1-20) then download 20 more books (21-40) and so on.

        Because My List can be updated at any time (mostly because a new book is added or removed, or a subscription is downgraded) we need to indicate the moment when this happens and start loading books for the very first page. In other words, download the first 20 books again after My List is modified. For the best performance, less traffic and better battery life, a combination of timestamp and pagination will be used.

        **Sorting and Filtering:**
        Books in My List can be sorted by title, date and popularity as well as filtered by e-book, audio book, genre, completed, not completed and unread/not listened to. Therefore, any sorting or filtering action leads to removing all books that are stored locally and a performing a new API request with parameters that depend on sorting or filtering. In case all books in My List are stored locally, sorting or filtering is performed on the application side.
      tags:
        - Account holders and users
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/canary'
        - $ref: '#/components/parameters/deviceid'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/osinfo'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/version'
        - schema:
            type: string
            example: '1'
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
          in: query
          name: completed
          description: 'The read status of the book. Values are “0”, “1”, “2” and “3”. "0" = the book is not yet started, "1" = the book is started or is in progress, "2" = the book is completed, "3" = the book is not yet completed (in other words, a combination of started and not started). If missing or "-1" then all books are returned.'
        - schema:
            type: string
            enum:
              - '0'
              - '1'
              - '2'
            example: '1'
          in: query
          name: type
          description: 'The type of book. Values are “0”, “1” and “2”. "1" = only e-books are returned. "2" = only audio books are returned. If missing or "0" then both e-books and audio books are returned. All API versions.'
          required: false
        - schema:
            type: string
            example: title
            enum:
              - popularity
              - pubdate
              - title
          in: query
          name: sort
          description: 'How search results will be sorted. Values are “relevance”, “pubDate”, “rating”, “title” and “author”. If missing or an incorrect value is passed, the default is “relevance”. “relevance” = descending order (the most relevant book comes first), “title” = ascending order (A-Z), “pubDate” = descending order (the most recently published book comes first).'
          required: false
        - schema:
            type: string
            example: '20'
          in: query
          name: rows
          description: 'The limit of books in the response or the number of books displayed on a single page. If missing, then the default value (12) is used. There may be situations where a page contains fewer books than requested. But this does not mean that the next page will contain zero books. The app therefore needs to continue asking for more books until it gets an empty array of books in response. API v6.0 and higher.'
          required: false
        - schema:
            type: string
            default: '0'
            example: '20'
          in: query
          name: pagenumber
          description: Page number for lazy load (pagination). Default value = “0”. All API versions.
          required: false
        - schema:
            type: string
            example: 123-124
          in: query
          name: genres
          description: 'Bookgroup IDs (genres in particular) separated by a hyphen. For example, "123-124" means ID 123 and ID 124.'
          required: false
        - schema:
            type: string
            example: '1461601790'
          in: query
          name: timestamp
          description: 'If the timestamp parameter is passed with the request, it works as per the information about the timestamp and pagination approach in the introduction to this endpoint.'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - timestamp
                      - books
                    properties:
                      bookCount:
                        type: string
                        example: '1'
                        description: The total number of books in the bookgroup. Required in case of the /searchbooks (NX-013) endpoint response. All API versions.
                      timestamp:
                        type: string
                        example: '2016-05-04 14:05:17'
                        description: 'If the timestamp parameter is passed with the request, it works as per the information about the timestamp and pagination approach in the introduction to this endpoint.'
                      books:
                        type: object
                        required:
                          - authors
                          - dateModified
                          - genres
                          - descriptionBrief
                          - id
                          - imageUrl
                          - weburl
                          - libId
                          - allowedinlibrary
                          - relatedbookallowedinlibrary
                          - pubDate
                          - synchsettings
                          - title
                          - type
                          - avgrate
                          - numberofrates
                          - userrate
                          - isupcoming
                          - isrelatedbookupcoming
                          - libstatus
                        properties:
                          authors:
                            type: array
                            description: The book author or authors. All API versions.
                            items: {}
                          dateModified:
                            type: string
                            example: '02-10-2016 15:32:26 +0100'
                            description: The date when a book was last added to My List or inactivation (another way to add a book to My List). Used for sorting purposes. The book with the most recent modification date goes first. All API versions.
                          genres:
                            type: array
                            description: An array of bookgroup IDs (genres in particular). All API versions.
                            items: {}
                          descriptionBrief:
                            type: string
                            example: Some description...
                            description: AA brief description of the book. Might be a truncated book description from a book card screen. All API versions.
                          id:
                            type: string
                            example: '1026126'
                            description: The identifier for the book itself. All API versions.
                          imageUrl:
                            type: string
                            example: 'https://www.nextory.se/coverimg/130/1026126.jpg'
                            description: Valid image URL. Applies only to the "Promotion" bookgroup type. The image does not need to support resizing on the server. API v6.3 and higher.
                          weburl:
                            type: string
                            example: 'https://nextory.se/bok/jakten-pa-tam-jo-salmson/1007145'
                            description: Bookdetails link for Nextory web. All API versions.
                          libId:
                            type: string
                            example: '168190'
                            description: 'The book identifier in the account holder’s library. Used in the activation process. Different from “id” and specific to each profile. When the book is not in my list or active, then we assume that “libId” is zero. All API versions.'
                          allowedinlibrary:
                            type: boolean
                            example: false
                            description: 'A boolean value ("1" or "0") that indicates if the book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. The value should always = “1” for active books because an active book cannot be ‘not allowed’ in an account holder’s library. All API versions.'
                          relatedbookallowedinlibrary:
                            type: boolean
                            example: true
                            description: 'A boolean value ("1" or "0") that indicates if the related book is available to the account holder’s current subscription. “1” (true) = is available, “0” (false) = is not available. Required in case of non-empty “relatedbookid”. All API versions.'
                          pubDate:
                            type: string
[...]
